@media (max-width: 1200px) {
    .header-place-head {
        margin-left: 10px;
    }
    .header-nav-link {
        margin-left: 5px;
    }
    .header-btn-entrance {
        margin-right: 5px;
    }
    .header-link {
        margin-left: 5px;
    }
    .main__wrapp {
        padding-left: 80px;
        width: 85%;
    }
    .main {
        background: url("../../assets/img/main-background.png") no-repeat 85% / cover;
    }
}
@media (max-width: 998px) {
    .form-search-coll:nth-child(1) {
        display: none;
    }
    .form-search-coll {
        width: 100%;
    }
    .search-row-img {
        display: none;
    }
    .form__search-title {
        display: none;
    }
    .recom-btn-mob {
        display: flex;
        margin-top: 12px;
    }
    .service__wrapp {
        flex-wrap: wrap;
    }
    .footer-box-img {
        display: none;
    }
    .footer-wrapp-inner {
        width: 80%;
    }
    .footer-box-img-two {
        display: block;
    }
    .service-box,
    .service-box-2 {
        width: 49%;
        height: 170px;
        margin-bottom: 15px;
    }
    .service-box-3 {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }
    .slaid-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 343px;
        height: 49px;
        background: #ffffff;
        border: 1px solid #4c6fff;
        box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
        border-radius: 10px;
        svg {
            margin-right: 10px;
        }
        margin: 0 auto 16px;
    }
    .header-burger {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: -3px;
    }
    .header-btn-entrance {
        display: none;
    }
    .header-link {
        display: none;
    }
    .header-nav {
        display: none;
    }
    .header-col {
        width: 100%;
        justify-content: space-between;
    }
    .header-col.--two {
        width: 75px;
    }
    .header-wrapp {
        width: 100%;
        justify-content: space-between;
    }
    .header-place-body {
        left: auto;
        right: 0;
    }
}
@media (max-width: 775px) {
    .recom-wrapp {
        justify-content: space-between;
    }
    .recom__product-box {
        width: 180px;
        height: 335px;
        margin: 5px;
    }
    .footer {
        padding-top: 30px;
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .footer-coll-title {
        margin-bottom: 6px;
    }
    .footer-coll {
        margin-bottom: 12px;
    }
    .footer-wrapp-inner {
        flex-direction: column;
    }
    .footer-coll {
        padding-left: 0;
    }
    .recom-status {
        top: 5px;
        right: 5px;
    }
    .service__wrapp {
        display: block;
    }
    .service-box-logo {
        display: none;
    }
    .service-box,
    .service-box-2,
    .service-box-3 {
        width: 100%;
    }
    .service-box-4 {
        padding-left: 25px;
        padding-right: 25px;
        background: linear-gradient(180deg, #5bb8be 0%, #58b4bb 36.97%, #4cafb4 100%);
        box-shadow: 0px 1px 8px rgba(206, 218, 247, 0.1);
        border-radius: 21px;
        .service-box-title {
            width: 100%;
        }
    }

    .recom-btn-mob {
        width: 300px;
    }
    .recom-wrapp {
        justify-content: center;
    }
    .main__wrapp {
        padding-left: 40px;
        width: 100%;
    }
    .recom-body-title {
        display: none;
    }
    .recom-tell {
        height: 20px;
    }
    .recom-box {
        height: 225px;
    }
    .recom-btn-visible {
        top: 4px;
        right: 40px;
    }
    .recom-box-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        img {
            width: 75px;
            height: 75px;
            border-radius: 75px;
            border: 1px solid #000000;
            padding: 0;
            margin: 0;
            margin-right: 14px;
        }
        .recom-name {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #192025;
        }
    }
    .recom-status {
        left: auto;
        right: 15px;
    }
}
@media (max-width: 740px) {
    .resultPopup {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .header-place-body {
        right: -50px;
    }
}

@media (max-width: 550px) {
    .recom_product-box-img {
        width: 134px;
        height: 134px;
        img {
            width: 134px;
            height: 134px;
        }
    }
    .service-box-3 {
        background: url("../../assets/img/secvise-3.png") no-repeat 100%, #f1ceaf;
    }
    .block-title {
        margin-bottom: 20px;
    }
    .recom {
        padding-bottom: 45px;
    }
    .service-box {
        height: 152px;
    }

    .service-box,
    .service-box-2,
    .service-box-3 {
        margin-bottom: 8px;
    }

    .service-box-4 {
        padding-top: 35px;
        padding-bottom: 53px;
        .service-box-btn {
            margin: 48px auto 0;
            width: 210px;
            display: block;
        }
    }
    .recom-btn-mob {
        margin-top: 6px;
    }
    .slaid-box {
        padding-left: 15px;
        .salid__box-col {
            img {
                width: 77px;
                height: 46px;
            }
        }
        .slaid-text {
            line-height: 1.1;
            top: 0;
        }
    }
    .main-title {
        font-weight: 800;
        font-size: 34px;
        line-height: 40px;
    }
    .main-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        width: 270px;
    }
    .main {
        padding-top: 46px;
        padding-bottom: 40px;
        background: url("../../assets/img/main-background-2.png") no-repeat top right,
            linear-gradient(180deg, #00bebe 0%, #00bebe 28.55%, #00bcbd 57.89%, #07b8b9 71.79%, #00aead 100%);
        border-radius: 0 0 17px 17px;
    }

    .main-search {
        min-height: 50px;
        padding-right: 15px;
    }
    .main__wrapp {
        width: 100%;
        padding: 0;
    }
    .main-btn {
        display: none;
    }
    .basket-product {
        padding: 23px 20px 11px 20px;
    }
    .basket-product-coll {
        width: 47%;
    }
    .header {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .logo {
        font-weight: 500;
        font-size: 26px;
        line-height: 20px;
        span {
            font-weight: 500;
            font-size: 26px;
            line-height: 20px;
        }
    }
    .header-place-head {
        padding-right: 11px;
    }
    .header-place-head:after {
        right: -8px;
    }

    .header-place-desctop {
        display: none;
    }
    .header-place-search-box {
        position: relative;
    }
    .header-place-search-btn {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        background: none;
        outline: none;
        display: block;
    }
    .header-place-mob {
        display: block;
    }
    .header-place-body {
        width: 100vw;
        right: -10px;
    }
    .header-place-close {
        right: auto;
        left: 20px;
        top: 40px;
        z-index: 1;
    }
    .header-place-search {
        margin-top: 20px;
        margin-left: 50px;
        padding-right: 50px;
        width: 88%;
    }
    .header-wrapp {
        position: relative;
    }
    .header-place {
        position: static;
    }
    .header-place-box {
        grid-template-columns: 1fr 1fr;
        padding: 15px;
    }
    .header-place-body {
        padding-left: 15px;
    }

    .header-place-title {
        display: none;
    }
    .header-place-search-box {
        margin: 0;
        background: #00bebe;
        border-radius: 0px 0px 8px 8px;
        .autocomplete-items-row {
            padding-left: 50px;
        }
    }
    .header-place-body {
        top: -15px;
        padding: 0;
    }
    .basket {
        width: 334px;
        right: auto;
        left: 0;
    }
    .basket-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #192025;
    }
    .basket-product-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 34px;
        color: #414d55;
    }
    .basket-product-desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;

        color: #192025;
    }
}

@media (max-width: 450px) {
    .header-place-search {
        width: 85%;
    }
    .popup {
        padding: 22px 20px 50px 20px;
    }
    .resultPopup {
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width: 400px) {
    .service-box-3 {
        background: url("../../assets/img/secvise-3.png") no-repeat bottom -15px right -20px, #f1ceaf;
    }
    .said__box-col-2 {
        img {
            width: 140px;
        }
    }
    .service-box-4 {
        .service-box-text {
            width: 100%;
        }
    }
}
@media (max-width: 380px) {
    .recom__product-box {
        margin: 5px;
    }
    .recom-wrapp {
        justify-content: center;
    }
    .service-box-title {
        width: 167px;
    }
    .header-place-box {
        grid-template-columns: 1fr;
    }
    .header-place-search {
        width: 80%;
    }
    .popup-btn-box {
        flex-direction: column;
        margin-bottom: 14px;
    }
    .popup-box-btn {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 360px) {
    .recom-box,
    .recom-box-wrapp {
        width: 100%;
    }
    .recom-btn-mob {
        width: 100%;
    }
    .basket {
        width: 100%;
    }
}
