@media (max-width: 1550px) {
    .resultMap {
        width: 100%;
    }
}
@media (max-width: 1440px) {
    .result-filter {
        width: 230px;
    }
    .contacts-coll-1 {
        width: 72%;
    }
    .search .main-searc-box {
        width: 82%;
    }
    .control__row-coll-4 {
        width: 90px;
    }
    .control__row-coll-3 {
        width: 180px;
    }
    .control__row-coll {
        width: 400px;
    }
    .control__head-coll:first-child {
        width: 300px;
    }
    .control__head-coll:nth-child(2) {
        width: 100px;
    }
    .control__head-coll:nth-child(3) {
        width: 85px;
    }
    .control__head-coll:nth-child(4) {
        width: 93px;
    }
}
@media (max-width: 1300px) {
    .control__head-inner {
        left: auto;
        right: 0;
    }
    .cabinetOrder__body-coll:nth-child(5) {
        width: 190px;
    }
    .cabinetOrder__coll-row {
        width: 100%;
    }
    .cabinetOrder__head-coll:first-child {
        width: 140px;
        padding-left: 29px;
    }
    .cabinetOrder__head-coll:nth-child(2) {
        width: 68px;
    }
    .cabinetOrder__head-coll:nth-child(3) {
        width: 135px;
    }
    .cabinetOrder__head-coll:nth-child(4) {
        width: 190px;
    }
    .cabinetOrder__body-coll:nth-child(4) {
        width: 125px;
    }
    .cabinetOrder__body-coll:nth-child(2) {
        width: 110px;
    }
    .cabinetOrder__body-coll:nth-child(3) {
        width: 80px;
    }
    .cabinetOrder__body-coll:first-child {
        width: 30px;
    }
}
@media (max-width: 1200px) {
    .result-box-name {
        width: 50%;
    }
    .info-block {
        padding-left: 15px;
        padding-right: 15px;
    }
    .contacts-coll-1 {
        width: 65%;
    }
    .price__wrapp-coll {
        width: 280px;
    }
    .price-inner-inner {
        width: 320px;
    }
    .cabinetOrder-mob-title {
        display: block;
    }
    .cabinetOrder-row {
        flex-direction: column;
        padding: 15px 15px 15px 50px;
        width: 100%;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(154, 169, 187, 0.1);
        border-radius: 4px;
        margin-bottom: 10px;
        position: relative;
    }

    .cabinetOrder-head {
        display: none;
    }
    .control__table-name {
        padding-right: 10px;
    }

    .cabinetOrder__body-coll:nth-child(1) {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    .cabinetOrder__body-coll:nth-child(2) {
        margin-bottom: 5px;
    }
    .cabinetOrder__body-coll:nth-child(3) {
        position: absolute;
        right: 15px;
        top: 15px;
        text-align: right;
    }
    .cabinetOrder__body-coll:nth-child(4) {
        margin-bottom: 5px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .cabinetOrder__body-coll:nth-child(5) {
        width: 100%;
    }
    .cabinetOrder__body-coll:nth-child(6) {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .control__row-coll {
        width: 295px;
    }
    .control__head-coll:first-child {
        width: 229px;
    }
    .control__head-coll:nth-child(2) {
        width: 65px;
    }
    .control__head-coll:first-child {
        width: 205px;
    }
    .control__table-row {
        padding-right: 15px;
        padding-left: 5px;
    }
    .control__table-head {
        padding-right: 0;
    }
    .search .main-searc-box {
        width: 77%;
    }
    .header-place-head {
        margin-left: 10px;
    }
    .header-nav-link {
        margin-left: 5px;
    }
    .header-btn-entrance {
        margin-right: 5px;
    }
    .header-link {
        margin-left: 5px;
    }
    .main__wrapp {
        padding-left: 80px;
        width: 85%;
    }
    .main {
        background: url("../../assets/img/main-background.png") no-repeat 85% / cover;
    }
}
@media (max-width: 1080px) {
    .resultMap-body {
        padding-right: 0;
    }
    .control__table-head {
        display: none;
    }
    .control__table {
        background: #f7f9fb;
    }
    .control__table-row {
        flex-direction: column;
        justify-content: space-between;
        border: none;
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(154, 169, 187, 0.1);
        border-radius: 4px;
        margin-bottom: 5px;
        margin-top: 5px;
        padding: 15px;
    }
    .control__row-coll-3 {
        flex-direction: column;
    }
    .control__row-btn {
        position: absolute;
        right: 15px;
        top: 15px;
    }
    .control__row-coll {
        margin-bottom: 30px;
        flex-direction: column;
        align-items: baseline;
    }
    .control__table-price {
        width: 100%;
        padding-left: 85px;
    }
    .control__row-coll-4,
    .control__row-coll-5 {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
    }
    .control__row-coll-2 {
        width: 100%;
        justify-content: space-between;
    }
    .control__row-coll-4,
    .control__row-coll-5,
    .control__row-coll {
        width: 100%;
        justify-content: flex-start;
    }
    .control__row-coll-6 {
        width: 105px;
    }
    .control__row-coll-4 {
        margin-bottom: 10px;
    }
    .control__table-row {
        position: relative;
    }
    .control__row-title {
        width: 65px;
        display: block;
    }
    .order-coll-2 {
        display: none;
    }
}
@media (max-width: 998px) {
    .resultMap-left {
        display: none;
    }
    .resultMap-close {
        display: none;
    }
    .resultMap-mob-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #9aa9bb;
        padding: 16px 14px 8px 14px;
    }
    .resultMap__footer {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        background: #ffffff;
        box-shadow: 0px -2px 10px rgba(154, 169, 187, 0.4);
        border-radius: 23px 23px 0 0;
        .result-box-row {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .resultMap-footer-btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #4c6fff;
        background: #fff;
        border: none;
        outline: none;
        height: 40px;
        svg {
            margin-left: 10px;
        }
    }

    .resultMap-footer-add {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        padding: 16px;
        z-index: 3;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #414d55;
        background: #f7f9fb;
        svg {
            margin-right: 15px;
        }
    }

    .resultMap-mob-wrapp {
        display: flex;
        flex-direction: column-reverse;
    }
    .result__header-title.resultMap-mob {
        display: block;
        font-weight: 500;
        font-size: 15px;
        line-height: 146.02%;
        color: #414d55;
        padding-left: 45px;
        &::before {
            left: 15px;
        }
        span {
            font-weight: 500;
            font-size: 15px;
            line-height: 146.02%;
            color: #414d55;
        }
    }
    .resultMap-inner-close-mob {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #ffffff;
        background: #04b6b1;
        padding: 16px;
        width: 100%;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        svg {
            margin-right: 12px;
        }
    }
    .resultMap-head-mob {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #f7f9fb;
        z-index: 3;
    }
    .resultMap-container {
        width: 100%;
    }
    .resul-mob-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        padding: 12px 20px;
    }

    .result-filter-btn {
        border: none;
        outline: none;
        width: 48%;
        height: 40px;
        background: #f1f5f8;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 19px;
        color: #414d55;

        svg {
            margin-right: 10px;
        }
    }
    .result-filter-head {
        width: 100%;
        padding: 18px 15px;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 2;
    }
    .result-filter-footer-btn {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        border-radius: 8px;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .result-filter-footer {
        padding: 22px;
    }
    .result-filter-head-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;

        color: #192025;

        svg {
            margin-right: 11px;
        }
    }
    .result-filter-close {
        border: none;
        cursor: pointer;
        outline: none;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 15px;
        right: 15px;
    }
    .select.result__mob {
        width: 48%;

        background: #f1f5f8;
        border-radius: 8px;

        .select__header {
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;

            color: #414d55;
            svg {
                margin-right: 10px;
            }
        }
        .select__body {
            min-width: 100%;
        }

        &::after {
            content: "";
        }
    }
    .resul__header-label {
        display: none;
    }
    .result-wrapp {
        gap: 0;
        width: 100%;
    }
    .result {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .result__box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .result-wrapp-coll {
        width: 100%;
    }
    .result__body {
        flex-direction: column-reverse;
    }
    .result__coll-2-box {
        margin-bottom: 0;
        width: 100%;
        background: #f7f9fb;
        img {
            width: 100%;
            object-fit: cover;
            border-radius: 8px;
            overflow: hidden;
        }
    }

    .result-filter {
        position: fixed;
        z-index: 3;
        transform: translateX(-500%);
        transition: 0.4s all ease-in-out;
    }
    .result-filter-footer {
        left: 0;
        bottom: 0;
        display: block;
    }
    .result-filter.active {
        width: 334px;
        transform: translateX(0);

        z-index: 7;
        top: 0;
        left: 0;
    }
    .result__filter-wrapp {
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 140px;
        padding-top: 50px;
    }
    .result-filter-head {
        display: block;
    }
    .result-filter-footer {
        position: absolute;
        bottom: 0;
        background: #fff;
        width: 100%;
        height: 80px;
    }
    .result__header-title {
        display: none;
    }
    .result__filter-add-block {
        padding-top: 35px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .result__filter-remove {
        border: none;
        outline: none;
        cursor: pointer;
        background: none;
        padding: 0;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #4c6fff;
    }
    .result__filter-adress-dell {
        background: none;
        border: none;
        outline: none;
    }
    .result__filter-check {
        background: #649eff;
        border-radius: 16px;
        padding: 3px 12px;
    }
    .result__filter-name {
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        color: #ffffff;
    }
    .result__box,
    .result__body-coll {
        width: 100%;
    }
    .medic-col-2 {
        display: none;
    }
    .search {
        box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
    }
    .regist {
        padding-top: 0;
        .breadcrumb {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 15px;

            display: block;
        }
    }
    .info {
        padding-bottom: 0;
    }
    .info__sidebar-head {
        display: block;
    }
    .info__sidebar-head-title {
        display: block;
        margin-bottom: 12px;
        margin-top: 11px;
    }
    .info__sidebar-btn {
        margin-bottom: 8px;
        border: none;
        padding-left: 17px;
        background: #ffffff;
        border-radius: 8px;
        height: 54px;
        position: relative;
        &::after {
            content: url("../../assets/img/r.svg");
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .info-sidebar {
        background: #f7f9fb;
        padding-bottom: 0;
    }
    .info__sidebar-body {
        padding: 0;
    }
    .info {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .info-block {
        background: #f7f9fb;
    }
    .company,
    .infoContact {
        width: 100%;
        background: #ffffff;
        padding: 17px 17px 70px 17px;
    }
    .info-block-close {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .info-block {
        padding: 0;
    }
    .info-block-close {
        display: block;
    }
    .contacts__mob-link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        background: #ffffff;
        border: 1px solid #ff671f;
        border-radius: 8px;
        margin-top: 7px;
        margin-bottom: 7px;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #ff671f;
        svg {
            margin-right: 10px;
        }
    }
    .contacts-box-coll {
        padding-left: 30px;
        padding-right: 30px;
    }
    .contacts-coll-1 {
        width: 100%;
    }
    .contacts-catalog {
        display: none;
    }
    .price-title {
        display: none;
    }
    .price__wrapp-coll {
        width: 316px;
    }
    .control__head {
        background: #fff;
        padding-bottom: 10px;
        margin-bottom: 5px;
    }
    .control,
    .cabinetOrder {
        background: #f7f9fb;
        .navigation {
            margin: 0 auto;
        }
        .navigation-list {
            position: static;
            width: 220px;
            display: block;
            margin: 30px auto 0;
        }
    }
    .cabinetOrder-title {
        display: none;
    }
    .cabinetOrder-wrapp {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .cabinetOrder {
        background: #f7f9fb;
    }
    .cabinetOrder-wrapp {
        background: #ffffff;
        box-shadow: 0px 4px 8px rgba(154, 169, 187, 0.1);
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .control-title {
        display: none;
    }
    .create-title,
    .changeCabinet-title {
        display: none;
    }
    .create-input {
        width: 100%;
    }
    .create-box-btn {
        margin-top: 20px;
    }
    .cabinet__tab {
        position: absolute;
    }
    .mob-active.mob-active-tab {
        .cabinet-box-left,
        .info-sidebar {
            position: absolute;
            display: none;
            transition: 0.4s all ease-in-out;
        }
        .cabinet__sidebar-right,
        .info-block {
            width: 100%;
        }

        .cabinet__tab,
        .info-tab {
            position: relative;
            transform: translateX(0);
            transition: 0.4s all ease-in-out;
        }
    }
    .mob-active {
        .cabinet-box-left,
        .info-sidebar {
            position: relative;
            width: 100%;
            display: block;
        }

        .info-sidebar {
            margin-right: 15px;
            width: 92%;
            margin-left: 15px;
        }

        .cabinet__sidebar-right,
        .info-block {
            width: 0;
        }
        .cabinet__tab,
        .info-tab {
            position: absolute;
            transform: translateX(600%);
            transition: 0.4s;
            transition: 0.4s all ease-in-out;
        }
    }
    .editInfo-row {
        width: 75%;
    }
    .editInfo-title {
        display: none;
    }
    .cabinetInfo-wrapp {
        flex-direction: column;
    }
    .cabinetInfo-title {
        display: none;
    }
    .cabinet__tab-btn {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .cabinetInfo-row {
        flex-direction: column;
        border-bottom: 1px solid #e2e6eb;
        margin-bottom: 25px;
        padding-bottom: 5px;
    }
    .cabinetInfo-mob-btn {
        display: block;
        position: relative;
        .cabinetInfo-btn {
            position: absolute;
            background: none;
            right: -43px;
            top: -85px;
        }
    }
    .cabinet__mobil-label {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
    .cabinter__mobil-file {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -3;
        opacity: 0;
    }
    .cabinet__mobil-span {
        position: absolute;
        right: -7px;
        bottom: -7px;
        z-index: 1;
        width: 27px;
        height: 27px;
        img {
            width: 27px;
            height: 27px;
        }
    }
    .cabiner__head-img {
        position: relative;
    }
    .cabinent-mob {
        .slaid-box {
            padding-left: 15px;
        }
        display: block;
    }
    .cabinet {
        .breadcrumb {
            display: flex;
        }
    }
    .cabiner-btn {
        position: relative;
        &::after {
            content: url("../../assets/img/r.svg");
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .cabiner-btn,
    .cabiner-left-wrapp,
    .cabiner__head {
        background: #ffffff;
        border-radius: 8px;
        margin-bottom: 5px;
        padding: 10px 17px;
    }
    .cabinet__sidebar-left {
        padding-left: 0;
        padding-right: 0;
    }

    .cabiner-left-wrapp {
        .cabiner-btn {
            padding: 0;
            &::after {
                right: 0;
            }
        }
        .cabiner-btn.cabiner-btn-add {
            padding-left: 25px;
            border: none;
            &::before {
                content: "";
                background: #ff671f;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                left: 5px;
            }
            &::after {
                content: "";
            }
        }
    }
    .cabiner-btn.active {
        color: #414d55;
    }
    .cabinet-box-left,
    .cabinet__sidebar-left {
        width: 100%;
        background: #f7f9fb;
    }
    .cabinet__sidebar-right {
        width: 0;
    }
    .header-two {
        .header-col:nth-child(2) {
            display: none;
        }
        .header-wrapp {
            padding-right: 70px;
        }

        .header-place-box.active {
            position: relative;
            z-index: 234;
        }
        .header-place-body.active {
            z-index: 343;
        }
    }
    .search-wrapp-coll-1 {
        width: 100%;
    }
    .cabinet__tab-btn {
        display: block;
    }
    .cabinet-btn--hidden {
        display: none;
    }
    .cabinet__wrapp {
        position: relative;
    }
    .search {
        background: #fff;
    }

    .search .header-btn-basket {
        path {
            fill: #2662f0;
        }
    }
    .search-wrapp {
        position: relative;
    }
    .search-wrapp-coll-1 {
        width: 100%;
    }
    .search-wrapp-coll-2 {
        position: absolute;
        right: 0;
        top: -75px;
    }
    .header-col {
        width: 90%;
        .select.lang {
            display: none;
        }
    }
    .cabinet__tab {
        width: 100%;

        left: 0;
        top: -35px;
        background: #f7f9fb;
        z-index: 2;
    }
    .order-btn {
        min-width: 300px;
    }
    .blog__coll-2 {
        display: none;
    }
    .search-wrapp-coll-2 {
        width: 60px;
    }
    .search-wrapp-coll-1 {
        width: 100%;
    }
    .search .main-searc-box {
        width: 98%;
    }

    .form-search-coll:nth-child(1) {
        display: none;
    }
    .form-search-coll {
        width: 100%;
    }
    .search-row-img {
        display: none;
    }
    .form__search-title {
        display: none;
    }
    .recom-btn-mob {
        display: flex;
        margin-top: 12px;
    }
    .service__wrapp {
        flex-wrap: wrap;
    }
    .footer-box-img {
        display: none;
    }
    .footer-wrapp-inner {
        width: 80%;
    }
    .footer-box-img-two {
        display: block;
    }
    .service-box,
    .service-box-2 {
        width: 49%;
        height: 170px;
        margin-bottom: 15px;
    }
    .service-box-3 {
        width: 100%;
        height: 170px;
        margin-bottom: 15px;
    }
    .slaid-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 343px;
        height: 49px;
        background: #ffffff;
        border: 1px solid #4c6fff;
        box-shadow: 0px 1px 8px rgba(20, 46, 110, 0.1);
        border-radius: 10px;
        svg {
            margin-right: 10px;
        }
        margin: 0 auto 16px;
    }
    .header-burger {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: -3px;
    }
    .header-btn-entrance {
        display: none;
    }
    .header-link {
        display: none;
    }
    .header-nav {
        display: none;
    }
    .header-col {
        width: 100%;
        justify-content: space-between;
    }
    .header-col.--two {
        width: 75px;
    }
    .header-wrapp {
        width: 100%;
        justify-content: space-between;
    }
    .header-place-body {
        left: auto;
        right: 0;
    }
}
@media (max-width: 775px) {
    .medic {
        .navigation {
            margin: 18px auto 0;
        }
        .navigation-list {
            position: static;
            width: 220px;
            display: block;
            margin: 30px auto 48px;
        }
    }
    .medic-cart {
        display: flex;
        flex-direction: column;
        padding: 19px;
    }
    .medic-cart-link,
    .medic-cart-data {
        margin-left: auto;
    }
    .medic-cart-data {
        position: static;
    }
    .medic-filter {
        position: absolute;
        z-index: 3;
        left: 0;
        top: 0;
        width: 335px;

        background: #ffffff;
        flex-direction: column;

        padding-top: 80px;
        padding-bottom: 90px;
        padding: 15px;
        transform: translateX(-500%);
        transition: 0.8s all ease-in-out;
    }
    .medic__wrapp {
        padding: 0;
        background: #f7f9fb;
        .medic-title {
            margin-bottom: 0;
        }
    }
    .medic-filter.active {
        transform: translateX(0);
        z-index: 4;
    }
    .medic-filter-open {
        display: flex;
        height: 40px;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 12px;
        background: #ffffff;
        border-radius: 8px;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        text-transform: capitalize;
        color: #414d55;
        svg {
            margin-right: 11px;
        }
        border: none;
        outline: none;
        cursor: pointer;
    }

    .medic-fitter-wrapp {
        padding-top: 80px;
        padding-bottom: 80px;
        height: 100vh;
        overflow-y: auto;
    }
    .medic-fitter-head {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 3;
    }
    .medic-fitter-close {
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    .medic-fitter-head-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #192025;
        padding: 19px 15px;
        svg {
            margin-right: 10px;
        }
    }

    .medic-filter-footer {
        display: block;
        position: absolute;
        background: #fff;
        bottom: 30px;
        left: 0;
        width: 100%;
        padding: 20px;
    }
    .medic-filter-btn {
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #ffffff;
        height: 44px;
        width: 100%;
    }
    .medic-label {
        display: block;
        margin-bottom: 15px;
    }
    .result__head-title {
        display: flex;
        flex-direction: column;
        width: 75%;
        line-height: 1.5;
        .result__head-span {
            margin-left: 0;
        }
        &::before {
            transform: translateY(0);
            top: 5px;
        }
    }
    .result-box-name {
        width: 72%;
    }
    .result__box-head {
        align-items: baseline;
    }
    .result__box-head-btn-mob {
        display: inline-block;
    }
    .result__box-head-btn-desc {
        display: none;
    }
    .resultMap-body {
        position: absolute;
    }
    .resutl-row-coll {
        display: flex;
        flex-direction: column;
    }
    .result-box-price {
        width: 100%;
        margin-bottom: 10px;
        text-align: right;
    }
    .infoContact {
        flex-direction: column;
    }
    .infoContact-coll-1,
    .infoContact-coll-2 {
        width: 100%;
    }
    .contact-slaid-box {
        .slaid-box {
            padding-left: 15px;
        }
    }
    .completion-wrapp-inner {
        display: flex;
        flex-direction: column-reverse;
    }
    .completion-box-wrapp {
        flex-direction: column;
    }

    .completion-box-coll {
        width: 100%;
        margin-bottom: 38px;
    }
    .completion-box-coll:nth-child(2) {
        margin-bottom: 0;
    }

    .completion-wrapp {
        padding: 25px 10px;
    }
    .infoContact-btn {
        max-width: 100%;
    }
    .completion-title {
        margin-right: 0;
    }
    .completion-text {
        padding-left: 15px;
        padding-right: 15px;
    }
    .completion-box {
        padding: 25px 10px;
        margin-bottom: 22px;
    }
    .completion-title {
        flex-direction: column;
    }
    .price {
        padding-bottom: 20px;
    }
    .price__wrapp-coll {
        width: 100%;
        margin-bottom: 15px;
    }
    .price-inner {
        flex-direction: column;
        align-items: flex-start;
    }
    .price-inner-inner {
        width: 100%;
        margin-bottom: 15px;
    }
    .price-inner-text {
        margin-bottom: 15px;
    }

    .price-box {
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .price-btn {
        width: 100%;
    }
    .price {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cabinetOrder-select {
        width: 200px;
    }
    .cabinetOrder-wrapp {
        padding-left: 15px;
        padding-right: 15px;
    }
    .popupOrder {
        width: 100%;
    }
    .control__head-wrapp {
        flex-direction: column;
    }
    .control__coll {
        width: 100%;
        justify-content: space-between;
    }
    .create__coll:nth-child(3) {
        margin-left: 0;
    }
    .changeCabinet__wrapp {
        border: none;
        padding: 0;
    }
    .changeCabinet {
        padding-left: 20px;
        padding-right: 20px;
    }
    .create-box-btn {
        width: 100%;
        flex-direction: column-reverse;
        button {
            margin-top: 10px;
        }
    }
    .changeCabinet-box-btn {
        flex-direction: column-reverse;
        button {
            width: 100%;
        }
    }
    .create {
        padding-left: 10px;
        padding-right: 10px;
    }
    .create__wrapp {
        padding-left: 10px;
        padding-right: 10px;
        border: none;
    }

    .changeCabinet-btn,
    .changeCabinet-btn-save {
        width: 100%;
    }
    .editInfo__head {
        padding: 0;
        border: none;
    }
    .editInfo {
        padding-left: 15px;
        padding-right: 15px;
    }
    .editInfo-row-add,
    .editInfo-row-add-tell {
        margin-bottom: 0;
    }

    .editInfo-row {
        width: 100%;
        margin: 0;
    }
    .editInfo-row-btn-one,
    .editInfo-row-btn {
        margin: 0;
        margin-left: auto;
        margin-top: 5px;
        margin-bottom: 40px;
        padding: 0;
        display: flex;
        align-items: center;
        svg {
            margin-right: 5px;
        }
    }
    .editInfo-btn-box {
        flex-direction: column-reverse;
        .editInfo-btn-one,
        .editInfo-btn {
            width: 100%;
        }
    }
    .editInfo-pwd-link {
        display: block;
        padding-top: 10px;
        text-align: right;
    }
    .editInfo-row-box {
        flex-direction: column;
    }
    .orderPopup {
        width: 100%;
    }
    .order__box-btn {
        flex-direction: column-reverse;
    }
    .order-btn,
    .order-btn-two .order__product-wrapper {
        min-width: 95%;
    }
    .order__product-wrapper {
        width: 95%;
    }
    .order-row-mob {
        display: inline-block;
    }
    .order-row-desc {
        display: none;
    }
    .order__product-row {
        flex-direction: column;
    }
    .order__product-data {
        margin-bottom: 23px;
    }
    .order-row {
        padding: 5px 10px;
    }
    .blog-row {
        width: 290px;
        padding: 15px;
        flex-direction: column;
        margin: 0 auto 10px;
    }
    .blog__coll {
        width: 100%;
    }
    .blog__row-head img {
        width: 260px;
    }
    .article-inner {
        padding-left: 15px;
        padding-right: 15px;
    }
    .bread__list {
        display: flex;
        justify-content: flex-start;
    }
    .bread__list-inner {
        display: flex;
        &::before {
            position: relative;
            top: -5px;
        }
    }
    .recom-wrapp {
        justify-content: space-between;
    }
    .recom__product-box {
        width: 180px;
        height: 335px;
        margin: 5px;
    }
    .footer {
        padding-top: 30px;
    }
    .footer-logo {
        margin-bottom: 30px;
    }
    .footer-coll-title {
        margin-bottom: 6px;
    }
    .footer-coll {
        margin-bottom: 12px;
    }
    .footer-wrapp-inner {
        flex-direction: column;
    }
    .footer-coll {
        padding-left: 0;
    }
    .recom-status {
        top: 5px;
        right: 5px;
    }
    .service__wrapp {
        display: block;
    }
    .service-box-logo {
        display: none;
    }
    .service-box,
    .service-box-2,
    .service-box-3 {
        width: 100%;
    }
    .service-box-4 {
        padding-left: 25px;
        padding-right: 25px;
        background: linear-gradient(180deg, #5bb8be 0%, #58b4bb 36.97%, #4cafb4 100%);
        box-shadow: 0px 1px 8px rgba(206, 218, 247, 0.1);
        border-radius: 21px;
        .service-box-title {
            width: 100%;
        }
    }

    .recom-btn-mob {
        width: 300px;
    }
    .recom-wrapp {
        justify-content: center;
    }
    .main__wrapp {
        padding-left: 40px;
        width: 100%;
    }
    .recom-body-title {
        display: none;
    }
    .recom-tell {
        height: 20px;
    }
    .recom-box {
        height: 225px;
    }
    .recom-btn-visible {
        top: 4px;
        right: 40px;
    }
    .recom-box-head {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 15px;
        img {
            width: 75px;
            height: 75px;
            border-radius: 75px;
            border: 1px solid #000000;
            padding: 0;
            margin: 0;
            margin-right: 14px;
        }
        .recom-name {
            margin-bottom: 0;
            font-weight: 600;
            font-size: 16px;
            line-height: 24px;
            color: #192025;
        }
    }
    .recom-status {
        left: auto;
        right: 15px;
    }
}
@media (max-width: 740px) {
    .resultPopup {
        width: 100%;
    }
}

@media (max-width: 650px) {
    .orderPopup-2 {
        width: 100%;
    }
    .popupOrder {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cabinetInfo {
        padding-left: 15px;
        padding-right: 15px;
    }
    .cabinetInfo-mob-btn .cabinetInfo-btn {
        right: -15px;
    }

    .orderPopup {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header-place-body {
        right: -50px;
    }
}

@media (max-width: 550px) {
    .navigation-btn {
        width: 100%;
    }
    .medic-cart-open {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        background: none;
        border: none;
        cursor: pointer;
        outline: none;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;
        color: #4c6fff;
        svg {
            margin-left: 11px;
        }
    }
    .medic-cart {
        margin-bottom: 12px;
    }
    .medic-cart-title {
        margin-bottom: 12px;
    }
    .medic-cart.active {
        .medic-cart-text {
            height: 100%;
            margin-bottom: 12px;
        }
    }
    .medic-cart-text {
        margin-bottom: 0;
        height: 150px;
        overflow: hidden;
    }
    .result-title.--mob,
    .result-subtitle.--mob {
        display: block;
    }
    .result-title.--desc,
    .result-subtitle.--desc {
        display: none;
    }

    .result {
        .bread__list-inner:nth-child(2) {
            display: none;
        }
    }
    .regist {
        .container {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .regist__wrapp {
        padding-left: 15px;
        padding-right: 15px;
    }
    .company-box-text {
        padding-right: 5px;
    }
    .company-box:before {
        height: 65%;
    }
    .contact__box-title {
        color: #649eff;
    }
    .contacts-box-coll {
        display: block;
    }
    .contacts__coll-place {
        margin-bottom: 20px;
    }
    .contacts__coll-tell {
        margin-bottom: 20px;
    }
    .contacts {
        .bread__list-inner:nth-child(2) {
            display: none;
        }
    }
    .orderPopup-title {
        flex-direction: column;
        svg {
            margin-bottom: 10px;
        }
    }
    .popupDel-box-btn {
        flex-direction: column-reverse;
        button {
            width: 100%;
        }
    }
    .popupDel {
        width: 100%;
    }
    .popupOrder .popup-close {
        right: 15px;
        top: 15px;
    }
    .popupOrder-title {
        margin-bottom: 15px;
    }
    .cabinetOrder__coll-name {
        max-width: 200px;
    }
    .control__head {
        margin-bottom: 5px;
    }
    .control__head {
        padding-left: 15px;
        padding-right: 15px;
    }
    .control__coll .select {
        padding: 0;
        width: 130px;
        border: none;
    }
    .recom_product-box-img {
        width: 134px;
        height: 134px;
        img {
            width: 134px;
            height: 134px;
        }
    }
    .order-btn-two {
        min-width: 95%;
    }
    .order-btn {
        text-align: center;
    }
    .service-box-3 {
        background: url("../../assets/img/secvise-3.png") no-repeat 100%, #f1ceaf;
    }
    .block-title {
        margin-bottom: 20px;
    }
    .recom {
        padding-bottom: 45px;
    }
    .service-box {
        height: 152px;
    }

    .service-box,
    .service-box-2,
    .service-box-3 {
        margin-bottom: 8px;
    }

    .service-box-4 {
        padding-top: 35px;
        padding-bottom: 53px;
        .service-box-btn {
            margin: 48px auto 0;
            width: 210px;
            display: block;
        }
    }
    .recom-btn-mob {
        margin-top: 6px;
    }
    .slaid-box {
        padding-left: 15px;
        .salid__box-col {
            img {
                width: 77px;
                height: 46px;
            }
        }
        .slaid-text {
            line-height: 1.1;
            top: 0;
        }
    }
    .main-title {
        font-weight: 800;
        font-size: 34px;
        line-height: 40px;
    }
    .main-text {
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        width: 270px;
    }
    .main {
        padding-top: 46px;
        padding-bottom: 40px;
        background: url("../../assets/img/main-background-2.png") no-repeat top right,
            linear-gradient(180deg, #00bebe 0%, #00bebe 28.55%, #00bcbd 57.89%, #07b8b9 71.79%, #00aead 100%);
        border-radius: 0 0 17px 17px;
    }

    .main-search {
        min-height: 50px;
        padding-right: 15px;
    }
    .main__wrapp {
        width: 100%;
        padding: 0;
    }
    .main-btn {
        display: none;
    }
    .basket-product {
        padding: 23px 20px 11px 20px;
    }
    .basket-product-coll {
        width: 47%;
    }
    .header {
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .logo {
        font-weight: 500;
        font-size: 26px;
        line-height: 20px;
        span {
            font-weight: 500;
            font-size: 26px;
            line-height: 20px;
        }
    }
    .header-place-head {
        padding-right: 11px;
    }
    .header-place-head:after {
        right: -8px;
    }

    .header-place-desctop {
        display: none;
    }
    .header-place-search-box {
        position: relative;
    }
    .header-place-search-btn {
        position: absolute;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        border: none;
        cursor: pointer;
        background: none;
        outline: none;
        display: block;
    }
    .header-place-mob {
        display: block;
    }
    .header-place-body {
        width: 100vw;
        right: -10px;
    }
    .header-place-close {
        right: auto;
        left: 20px;
        top: 40px;
        z-index: 1;
    }
    .header-place-search {
        margin-top: 20px;
        margin-left: 50px;
        padding-right: 50px;
        width: 88%;
    }
    .header-wrapp {
        position: relative;
    }
    .header-place {
        position: static;
    }
    .header-place-box {
        grid-template-columns: 1fr 1fr;
        padding: 15px;
    }
    .header-place-body {
        padding-left: 15px;
    }

    .header-place-title {
        display: none;
    }
    .header-place-search-box {
        margin: 0;
        background: #00bebe;
        border-radius: 0px 0px 8px 8px;
        .autocomplete-items-row {
            padding-left: 50px;
        }
    }
    .header-place-body {
        top: -15px;
        padding: 0;
    }
    .basket {
        width: 334px;
        right: auto;
        left: 0;
    }
    .basket-title {
        font-weight: 600;
        font-size: 18px;
        line-height: 19px;
        color: #192025;
    }
    .basket-product-title {
        font-weight: bold;
        font-size: 14px;
        line-height: 34px;
        color: #414d55;
    }
    .basket-product-desc {
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;

        color: #192025;
    }
}
@media (max-width: 500px) {
    .orderPopup-2 {
        padding-right: 25px;
        padding-left: 25px;
    }
    .popupPwd {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 450px) {
    .resul-mob-box {
        padding-left: 15px;
        padding-right: 15px;
    }
    .control,
    .cabinetOrder {
        .navigation-btn {
            width: 100%;
        }
    }
    .cabinetOrder {
        .navigation-btn {
            width: 100%;
            margin-top: 15px;
        }
    }
    .select.cabinetOrder-select {
        border: none;
        padding: 0;
        width: 150px;
        height: 25px;
        margin-top: 10px;
        margin-left: 0;
    }
    .cabinetOrder-wrapp {
        flex-direction: column;
    }
    .popupOrder-row {
        flex-direction: column;
        width: 100%;
    }
    .popupOrder-row.--status {
        width: 100%;
        flex-direction: row;
        align-items: baseline;
        .popupOrder-row-coll {
            width: 50%;
            text-align: right;
        }
    }
    .popupOrder-row-name {
        margin-bottom: 5px;
    }
    .popupOrder-row-coll {
        width: 100%;
    }
    .header-place-search {
        width: 85%;
    }
    .popup {
        padding: 22px 20px 50px 20px;
    }
    .resultPopup {
        padding-left: 15px;
        padding-right: 15px;
    }
    .create__wrapp-inner {
        max-width: 280px;
    }
}
@media (max-width: 400px) {
    .select.result__mob {
        width: 60%;
    }
    .result-filter-btn {
        width: 38%;
    }
    .cabinetOrder-row {
        padding-top: 40px;
        padding-left: 15px;
    }
    .cabinetOrder-mob-title {
        margin-bottom: 5px;
    }
    .cabinetOrder__body-coll:first-child {
        left: 5px;
    }
    .cabinetOrder__body-coll:nth-child(6) {
        flex-direction: column;
    }
    .cabinetOrder-coll {
        margin-left: auto;
    }
    .control__row-btn {
        right: 7px;
    }
    .control__table-header {
        width: 100%;
        padding-right: 25px;
    }
    .order__product-name {
        width: 250px;
    }
    .blog-label-span {
        width: 145px;
    }

    .service-box-3 {
        background: url("../../assets/img/secvise-3.png") no-repeat bottom -15px right -20px, #f1ceaf;
    }
    .said__box-col-2 {
        img {
            width: 140px;
        }
    }
    .service-box-4 {
        .service-box-text {
            width: 100%;
        }
    }
}
@media (max-width: 380px) {
    .resutl__box-tell {
        padding-right: 40px;
    }
    .orderPopup-2 {
        .orderPopup__box-img {
            img {
                width: 80%;
            }
        }
    }
    .recom__product-box {
        margin: 5px;
    }
    .recom-wrapp {
        justify-content: center;
    }
    .service-box-title {
        width: 167px;
    }
    .header-place-box {
        grid-template-columns: 1fr;
    }
    .header-place-search {
        width: 80%;
    }
    .popup-btn-box {
        flex-direction: column;
        margin-bottom: 14px;
    }
    .popup-box-btn {
        width: 100%;
        margin-bottom: 20px;
    }
}
@media (max-width: 360px) {
    .medic-filter {
        width: 100%;
    }
    .result-filter.active {
        width: 100%;
    }
    .order__row-header {
        margin-top: 20px;
        position: relative;
    }
    .order__header-link {
        position: absolute;
        right: 10px;
        top: -20px;
    }
    .recom-box,
    .recom-box-wrapp {
        width: 100%;
    }
    .recom-btn-mob {
        width: 100%;
    }
    .basket {
        width: 100%;
    }
}
