.contacts {
    padding-top: 6px;
    .breadcrumb {
        margin-bottom: 34px;
    }
}

.contacts-catalog {
    width: 295px;
    background: #ffffff;
    border-radius: 8px;
    padding: 15px 20px;
    flex-shrink: 0;
}
.contacts__mob-link {
    display: none;
}
.contacts-catalog-title {
    font-weight: bold;
    font-size: 1.07rem;
    line-height: 2.27;
    color: #414d55;
    margin-bottom: 11px;
    svg {
        margin-right: 17px;
    }
}
.contacts-catalog-link {
    display: block;
    font-weight: normal;
    font-size: 1rem;
    line-height: 2.21;
    color: #414d55;
    padding-left: 5px;
}

.contacts__wrapp {
    display: flex;
    gap: 14px;
    justify-content: space-between;
    margin-bottom: 72px;
}
.contacts-coll-1 {
    width: 100%;
}
.contact__map-container {
    height: 354px;
    max-width: 908px;
    border: 2px solid #ffffff;
    border-radius: 14px;
    overflow: hidden;
    margin: 0 auto 6px;
}

.contacts-title {
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(154, 169, 187, 0.1);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 16px 16px 9px 34px;
    margin-bottom: 5px;
}

.contacts-title-img {
    margin-right: 28px;
    img {
        width: 76px;
        height: 76px;
        object-fit: contain;
    }
}

.contacts-title-link {
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.43;

    color: #4c6fff;
}

.contacts-title-subtitle {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1.42;
    color: #414d55;
}

.contacts-box-coll {
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(154, 169, 187, 0.1);
    border-radius: 8px;
    padding: 26px 77px 35px 37px;
    margin-bottom: 5px;
}

.contact__box-title {
    font-weight: normal;
    font-size: 1.14rem;
    line-height: 1.5;
    color: #9aa9bb;
    margin-bottom: 14px;
}

.contact__box-text {
    font-weight: normal;
    font-size: 1.07rem;
    line-height: 1.33;
    color: #414d55;
}
.contacts__coll-tell {
    min-width: 200px;
}
.contact__box-link {
    display: block;
    font-weight: normal;
    font-size: 1.07rem;
    line-height: 1.33;
    color: #414d55;
    margin-bottom: 10px;
}

.contact__box-map {
    background: #ffffff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
}

.contact-map-btn {
    width: 99%;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 12px;
    background: rgba(130, 166, 255, 0.2);
    border-radius: 5px;
    transition: 0.4s all ease-in-out;
    color: #2662f0;
    span {
        font-weight: normal;
        font-size: 1.07rem;
        line-height: 1.2;
    }
    path {
        transition: 0.4s all ease-in-out;
    }
    svg {
        margin-right: 9px;
    }
    &:hover {
        background: #4c6fff;
        color: #fff;
        path {
            fill: #fff;
        }
    }
}

.contact-slaid-box {
    .slaid-box {
        max-width: 100%;
        padding-left: 142px;
    }
}
