.resultPopupMap {
    width: 1515px;
    border: 1px solid red;
    margin: 0 auto;
    background: #f7f9fb;
    border-radius: 8px;

    position: relative;
}

.resultPopupMap-close {
    padding: 0;
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 1px solid #649eff;
    border-radius: 43px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 3;
}

.resultPopupMap-container {
    width: 979px;
    height: 845px;
    border: 2px solid #fff;
    border-radius: 8px;
    overflow: hidden;
}
