<div class="article">
    <div class="container">
        <div class="breadcrumb">
            <ul class="bread__list">
                <li class="bread__list-inner">
                    <a class="bread__list-link" href="#">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4 8C4 7.63181 4.29848 7.33333 4.66667 7.33333H7.33333C7.70152 7.33333 8 7.63181 8 8V10.6667H10.6667V6.27614L6 1.60948L1.33333 6.27614V10.6667H4V8ZM5.33333 8.66667V11.3333C5.33333 11.7015 5.03486 12 4.66667 12H0.666667C0.298477 12 0 11.7015 0 11.3333V6C0 5.82319 0.0702379 5.65362 0.195262 5.5286L5.5286 0.195262C5.78895 -0.0650874 6.21106 -0.0650874 6.4714 0.195262L11.8047 5.5286C11.9298 5.65362 12 5.82319 12 6V11.3333C12 11.7015 11.7015 12 11.3333 12H7.33333C6.96514 12 6.66667 11.7015 6.66667 11.3333V8.66667H5.33333Z"
                                fill="#04B6B1" />
                        </svg>
                    </a>
                </li>
                <li class="bread__list-inner">
                    <a class="bread__list-link" href="#">
                        Блог
                    </a>
                </li>
                <li class="bread__list-inner">
                    Топ найпопулярніших ліків в Україні 2020-2021. Що найчастіше купують в аптеках?
                </li>
            </ul>
        </div>
        <div class="article__wrapp">
            <a href="#" class="article-link">
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 5L3.83 5L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7L16 7V5Z" fill="#FF671F" />
                </svg>
                Назад к статтям
            </a>
            <div class="article-inner">
                <h2 class="article-title">
                    Топ найпопулярніших ліків в Україні 2020-2021. Що найчастіше купують в аптеках?
                </h2>
                <div class="article-date">
                    <time datetime="2022-01-25">25 січня, 2022</time>
                </div>
                <div class="article-content">
                    Зима – час загострень простудних захворювань. Один з найчастіших приводів звернення до лікаря в
                    зимовий час – це кашель. Нерідко він проходить самостійно та не загрожує здоров'ю. Але кашель може
                    бути й тривалим, виснажливим, супроводжуватися утрудненням відхаркування мокротиння. У цих випадках
                    слід розібратися в причинах появи симптомів і вже після цього підбирати лікування. Які є причини
                    кашлю і як правильно підійти до вибору лікування – про це поговоримо у сьогоднішній статті.
                </div>
                <img src="./assets/img/article.png" alt="">
                <p>
                    Кашель – це насамперед захисна реакція організму. Він необхідний для очищення дихальних шляхів від
                    будь-яких чужорідних частинок – вірусів, бактерій, пилу, слизу, сторонніх тіл. Дихальні шляхи мають
                    свою захисну систему – мукоциліарний кліренс. Клітини слизової оболонки виробляють слиз, а ворсинки
                    війчастого епітелію «проштовхують» слиз разом із чужорідними часточками. Кашель, у свою чергу,
                    допомагає очистити дихальні шляхи.
                </p>
                <p>
                    Але бувають і ситуації, коли кашель є виснажливим і заважає більше, ніж допомагає. Наприклад, коли
                    слиз не виробляється у достатній кількості або, навпаки, її занадто багато, а також якщо ворсинки
                    епітелію погано працюють. Окрема проблема – якщо кашель викликаний не ураженням трахео-бронхіального
                    дерева. Причини та підхід до лікування цих станів різні.
                </p>
                <h3>
                    Причини та види кашлю у дорослих та дітей
                </h3>
                <p>
                    Дійсно ефективне лікування потрібно розпочинати з встановлення та, якщо можливо, усунення його
                    причини.
                </p>
                <p>
                    Основна причина кашлю – гострі респіраторні захворювання (ГРЗ), спричинені вірусами або (рідше)
                    бактеріями. Запалення горла, трахеї або бронхів супроводжується кашлем, оскільки стимулюються
                    кашльові рецептори. Саме тому кашель є основним симптомом усіх «простудних» захворювань.
                </p>
                <p>
                    Патологія ЛОР-органів також може супроводжуватися кашлем. При захворюваннях носа, носоглотки,
                    приносових пазух слиз стікає по задній стінці глотки, стимулює кашльовий рефлекс, що і призводить до
                    появи кашлю.
                </p>
                <p>
                    У дітей небезпечною причиною кашлю може стати кашлюк – інфекційне захворювання із нападами судомного
                    кашлю. Приступи спазматичні, тривають 1-2 хвилини. У разі підозри на кашлюк необхідно терміново
                    звернутися до лікаря!
                </p>
                <p>
                    Але буває і кашель без застуди, коли його причини не пов'язані із захворюваннями органів дихання.
                    Неочевидна, але поширена причина кашлю у дорослих – гастроезофагеальна рефлюксна хвороба (ГЕРХ).
                    Кислий вміст шлунка потрапляє в стравохід, гортань і трахеобронхіальне дерево, викликаючи кашель. У
                    цьому випадку кашель сухий, зберігається довго, посилюється у положенні лежачи. При ГЕРХ безглуздо
                    намагатися «вплинути» на кашель – потрібно лікувати саме захворювання.
                </p>
                <p>
                    Спровокувати кашель може прийом деяких ліків. Наприклад, сухий кашель часто розвивається на тлі
                    прийому інгібіторів ангіотензинперетворюючого ферменту (АПФ) – препаратів для лікування артеріальної
                    гіпертензії та серцевої недостатності. В цьому випадку достатньо відмінити препарат та підібрати
                    інше лікування.
                </p>
                <h3>
                    Причини та види кашлю у дорослих та дітей
                </h3>
                <p>
                    Дійсно ефективне лікування потрібно розпочинати з встановлення та, якщо можливо, усунення його
                    причини.
                </p>
                <p>
                    Основна причина кашлю – гострі респіраторні захворювання (ГРЗ), спричинені вірусами або (рідше)
                    бактеріями. Запалення горла, трахеї або бронхів супроводжується кашлем, оскільки стимулюються
                    кашльові рецептори. Саме тому кашель є основним симптомом усіх «простудних» захворювань.
                </p>
                <p>
                    Патологія ЛОР-органів також може супроводжуватися кашлем. При захворюваннях носа, носоглотки,
                    приносових пазух слиз стікає по задній стінці глотки, стимулює кашльовий рефлекс, що і призводить до
                    появи кашлю.
                </p>
                <p>
                    У дітей небезпечною причиною кашлю може стати кашлюк – інфекційне захворювання із нападами судомного
                    кашлю. Приступи спазматичні, тривають 1-2 хвилини. У разі підозри на кашлюк необхідно терміново
                    звернутися до лікаря!
                </p>
            </div>
        </div>


    </div>
</div>