<div class="cabinetInfo">
    <div class="cabinetInfo-title">
        Данные аптеки
        <button class="cabinetInfo-btn">
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8.33905 2.53253L0.234853 10.6367L0.0594198 12.5665C0.0189195 13.012 0.392144 13.3852 0.837647 13.3447L2.76742 13.1693L10.8716 5.0651L8.33905 2.53253Z"
                    fill="#FF671F" />
                <path
                    d="M11.3781 4.55859L12.8977 3.03903C13.1774 2.75929 13.1774 2.30575 12.8977 2.02601L11.3781 0.50647C11.0984 0.226731 10.6449 0.22673 10.3651 0.506469L8.84556 2.02602L11.3781 4.55859Z"
                    fill="#FF671F" />
            </svg>
            Изменить
        </button>
    </div>
    <div class="cabinetInfo-wrapp">
        <div class="cabinetInfo-box-img">
            <img src="./assets/img/cabinet.png" alt="">
        </div>
        <div class="cabinetInfo-body">
            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Название аптеки
                </div>
                <div class="cabinetInfo-text">
                    Аптека Хелп (Киев)
                </div>
            </div>

            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Адрес аптеки
                </div>

                <div class="cabinetInfo-text">
                    г. Киев, ул. Иванова 45
                </div>
            </div>

            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Телефоны
                </div>
                <div class="cabinetInfo-row-wrapp">
                    <div class="cabinetInfo-text">
                        098 676 76 45
                    </div>
                    <div class="cabinetInfo-text">
                        098 676 76 45
                    </div>
                    <div class="cabinetInfo-text">
                        098 676 76 45
                    </div>
                </div>
            </div>

            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Время работы
                </div>
                <div class="cabinetInfo-text">
                    8.00-22.00, без выходных
                </div>
            </div>

            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Email
                </div>
                <div class="cabinetInfo-text">
                    apteka@gmail.com
                </div>
            </div>

            <div class="cabinetInfo-row">
                <div class="cabinetInfo-name">
                    Пароль
                </div>
                <div class="cabinetInfo-text">
                    *****************
                </div>
            </div>


        </div>
    </div>
</div>