<div class="catalog">
    <div class="container">
        <div class="breadcrumb">
            <ul class="bread__list">
                <li class="bread__list-inner">
                    <a class="bread__list-link" href="#">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4 8C4 7.63181 4.29848 7.33333 4.66667 7.33333H7.33333C7.70152 7.33333 8 7.63181 8 8V10.6667H10.6667V6.27614L6 1.60948L1.33333 6.27614V10.6667H4V8ZM5.33333 8.66667V11.3333C5.33333 11.7015 5.03486 12 4.66667 12H0.666667C0.298477 12 0 11.7015 0 11.3333V6C0 5.82319 0.0702379 5.65362 0.195262 5.5286L5.5286 0.195262C5.78895 -0.0650874 6.21106 -0.0650874 6.4714 0.195262L11.8047 5.5286C11.9298 5.65362 12 5.82319 12 6V11.3333C12 11.7015 11.7015 12 11.3333 12H7.33333C6.96514 12 6.66667 11.7015 6.66667 11.3333V8.66667H5.33333Z"
                                fill="#04B6B1" />
                        </svg>

                    </a>
                </li>
                <li class="bread__list-inner">
                    Каталог
                </li>
            </ul>
        </div>
        <div class="catalog-title">
            Каталог лекарств
        </div>
        <div class="catalog__box">
            <a href="#" class="catalog-link">
                Бады и пищевые добавки
            </a>
            <a href="#" class="catalog-link">
                Витамины и минералы
            </a>
            <a href="#" class="catalog-link">
                Мочеполовая система и<br> половые гормоны
            </a>

            <a href="#" class="catalog-link">
                Противомикробные препараты
            </a>
            <a href="#" class="catalog-link">
                Противопаразитарные средства
            </a>

            <a href="#" class="catalog-link">
                Различные средства
            </a>

            <a href="#" class="catalog-link">
                Гемотропные средства
            </a>

            <a href="#" class="catalog-link">
                Респираторная система
            </a>

            <a href="#" class="catalog-link">
                Сердечно-сосудистые препараты
            </a>

            <a href="#" class="catalog-link">
                Препараты для лечения жкт
            </a>

            <a href="#" class="catalog-link">
                Иммуномодуляторы
            </a>

            <a href="#" class="catalog-link">
                Противопаразитарные средства
            </a>

            <a href="#" class="catalog-link">
                Противопаразитарные средства
            </a>

            <a href="#" class="catalog-link">
                Различные средства
            </a>

            <a href="#" class="catalog-link">
                Гемотропные средства
            </a>

            <a href="#" class="catalog-link">
                Респираторная система
            </a>

            <a href="#" class="catalog-link">
                Сердечно-сосудистые препараты
            </a>

            <a href="#" class="catalog-link">
                Препараты для лечения жкт
            </a>

            <a href="#" class="catalog-link">
                Иммуномодуляторы
            </a>

            <a href="#" class="catalog-link">
                Противопаразитарные средства
            </a>

            <a href="#" class="catalog-link">
                Сердечно-сосудистые препараты
            </a>

            <a href="#" class="catalog-link">
                Препараты для лечения жкт
            </a>

            <a href="#" class="catalog-link">
                Иммуномодуляторы
            </a>

            <a href="#" class="catalog-link">
                Противопаразитарные средства
            </a>

            <a href="#" class="catalog-link">
                Сердечно-сосудистые препараты
            </a>

            <a href="#" class="catalog-link">
                Препараты для лечения жкт
            </a>

        </div>
        <div class="catalog-inner">
            <a href="#" class="slaid-box">
                <div class="salid__box-col">
                    <img src="./assets/img/slaid-1.png" alt="">
                    <div class="slaid-text">
                        Твоя допомога при застуді
                    </div>
                </div>
                <div class="said__box-col-2">
                    <img src="./assets/img/slaid-2.png" alt="">
                </div>
                <div class="said__box-col-3">
                    <img src="./assets/img/slaid-3.png" alt="">
                </div>
            </a>
        </div>

    </div>
</div>