<div class="changeCabinet">
    <div class="changeCabinet-title">
        Изменить товар
    </div>
    <div class="changeCabinet__wrapp">
        <div class="changeCabinet-subtitle">
            Название товара
        </div>
        <input class="changeCabinet-input" type="text">
        <div class="changeCabinet-subtitle">
            Цена
        </div>
        <input class="changeCabinet-input --two" type="text">
        <div class="changeCabinet-subtitle">
            Статус
        </div>
        <div class="changeCabinet__wrapp-inner">
            <label class="changeCabinet__label">
                <input type="radio" name="changeCabinet" class="changeCabinet__label-input" checked>
                <span class="changeCabinet__label-span">
                    активный
                </span>
            </label>
            <label class="changeCabinet__label">
                <input type="radio" name="changeCabinet" class="changeCabinet__label-input">
                <span class="changeCabinet__label-span no-active-btn">
                    неактивный
                </span>
            </label>

        </div>
    </div>
    <div class="changeCabinet-box-btn">
        <button class="changeCabinet-btn">
            Отмена
        </button>

        <button class="btn changeCabinet-btn-save">
            Сохранить
        </button>
    </div>
</div>