<div class="company">
    <h3 class="company-title">
        O компании
    </h3>
    <p class="company-text">
        Likitut.ua – найбільший портал, створений для пошуку та бронювання фармацевтичної продукції в Україні. Цей
        ресурс корисний, якщо Вам необхідно отримати інформацію про лікарський засіб, або знайти його офіційну
        інструкцію від виробника, а також дізнатися про наявність та ціни в аптеках на території України.
    </p>

    <p class="company-text">
        likitut.ua – найбільший портал, створений для пошуку та бронювання фармацевтичної продукції в Україні. Цей
        ресурс корисний, якщо Вам необхідно отримати інформацію про лікарський засіб, або знайти його офіційну
        інструкцію від виробника, а також дізнатися про наявність та ціни в аптеках на території України.
    </p>

    <p class="company-text-2">
        На нашому Сайті, з метою отримання необхідної інформації, перед придбанням лікарського засобу Ви зможете
        ознайомитись з:

    </p>
    <ul class="company-list">
        <li class="company__list-inner">
            наявністю лікарського засобу в аптечних закладах на території України;

        </li>
        <li class="company__list-inner">
            офіційною інструкцією виробника лікарського засобу;

        </li>
        <li class="company__list-inner">
            інформацією про дозування, форму випуску лікарського засобу та діючі речовини, заявлені виробником;

        </li>
        <li class="company__list-inner">
            інформацією про фармакологічні групи лікарських засобів та їх АТХ-класифікацію; офіційні відомості про
            реєстрацію лікарського засобу;

        </li>
        <li class="company__list-inner">
            офіційними відомостями про реєстрацію лікарського засобу.

        </li>
    </ul>
    <p class="company-text-2">
        Актуальну інформацію про серії лікарських засобів, обіг яких зупинено (заборонено), зібрану на підставі
        офіційних відомостей Державної служби з лікарських засобів та контролю за наркотиками.
    </p>

</div>