<div class="company company-service">
    <h3 class="company-title">
        Про сервис
    </h3>
    <p class="company-text">
        Користуючись цією послугою, Ви можете розраховувати, що заброньований товар чекає на Вас в обраному аптечному
        закладі протягом строку, вказаного під час резервування. Цей сервіс дає можливість заощадити як час, так і
        гроші.

    </p>
    <h3 class="company-subtitle">
        Чому наш сервіс корисний?
    </h3>
    <p class="company-text-2">
        Усі ми, час від часу, зустрічаємося з необхідністю придбати ліки.

    </p>
    <p class="company-text">
        Як правило багато, часу, сил та грошей витрачається на пошук необхідного лікарського засобу та ціни, що
        підходить Вам. І хоча, навколо нас велика кількість аптек, в них не завжди є в наявності необхідний лікарський
        засіб.

    </p>
    <p class="company-text">
        Кожному знайома історія, коли простоявши в черзі, дізнаєшся, що необхідного тобі лікарського засобу немає в
        наявності або ціна на нього в цьому аптечному закладі занадто висока, і ти змушений йти до наступного аптечного
        закладу, в якому все це може повторитись. Іноді, щоб зібрати весь перелік необхідних Вам ліків, доведеться
        витратити пів дня та об’їздити пів міста.
    </p>
    <h3 class="company-subtitle-2">
        Як працює наш сервіс:
    </h3>
    <div class="company-box">
        <div class="company-box-title">
            <span>01.</span> Знаходь

        </div>
        <div class="company-box-text">
            необхідну фармацевтичну продукцію та обирай зручне<br> для себе місце продажу (аптечний заклад)
        </div>
    </div>
    <div class="company-box -c2662F0">
        <div class="company-box-title">
            <span>02.</span> Бронюй
        </div>
        <div class="company-box-text">
            через Сайт. Обраний аптечний заклад отримує та обробляє Ваше<br> замовлення. Вам надходить повідомлення про
            готовність замовлення.
        </div>
    </div>
    <div class="company-box -c04B6B1">
        <div class="company-box-title">
            <span>03.</span> Забирай
        </div>
        <div class="company-box-text">
            у зручний час в аптечному закладі лікарський засіб вже за<br> відомою вартістю
        </div>
    </div>

    <h3 class="company-subtitle-2">
        Переваги
    </h3>
    <p class="company-text-2">
        немає необхідності відвідувати 2-3 аптечних заклади, аби перевірити наявність ліків та дізнатися ціни на них;

    </p>
    <p class="company-text-2">
        заздалегідь відомо, де і за якою ціною можна придбати необхідне;

    </p>
    <p class="company-text-2">
        заощаджуються гроші, а головне час – відвідуєш аптеку, за умови наявності та в зручний час;
        таким чином, економиться час, зусилля та кошти.
    </p>


</div>