<div class="control">
    <div class="control__head">
        <div class="control-title">
            Управление товарами
        </div>
        <div class="control__head-wrapp">
            <div class="control__search">
                <input id="control__search-id" type="text" class="control__search-input" placeholder="Пошук">
                <button class="control__search-btn">
                    <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M11.0183 13.2303C14.4733 11.8843 16.0837 8.22581 14.6154 5.05877C13.1471 1.89173 9.15601 0.415453 5.70105 1.76141C2.2461 3.10737 0.635621 6.76588 2.10394 9.93292C3.57226 13.1 7.56336 14.5762 11.0183 13.2303Z"
                            stroke="#FF671F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M13.1641 11.9014L18.4358 16.7345" stroke="#FF671F" stroke-width="1.5"
                            stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
            <div class="control__coll">
                <div class="select lang">
                    <div class="select__header">
                        <span class="select__current">
                            По имени
                        </span>
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            По имени
                        </div>
                        <div class="select__item">
                            По имени
                        </div>
                        <div class="select__item">
                            По имени
                        </div>
                    </div>
                </div>

                <div class="control__head-box">
                    <button class="control__head-btn">
                        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5 16C5.55228 16 6 15.5523 6 15C6 14.4477 5.55228 14 5 14C4.44772 14 4 14.4477 4 15C4 15.5523 4.44772 16 5 16Z"
                                stroke="#649EFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M12 16C12.5523 16 13 15.5523 13 15C13 14.4477 12.5523 14 12 14C11.4477 14 11 14.4477 11 15C11 15.5523 11.4477 16 12 16Z"
                                stroke="#649EFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            <path
                                d="M19 16C19.5523 16 20 15.5523 20 15C20 14.4477 19.5523 14 19 14C18.4477 14 18 14.4477 18 15C18 15.5523 18.4477 16 19 16Z"
                                stroke="#649EFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    <div class="control__head-inner">
                        <button class="control__btn">
                            Продвигать
                        </button>
                        <button class="control__btn conrtol__change" data-controlTab="#cabinet-2">
                            Изменить
                        </button>
                        <a href="#popupDel" class="control__btn popup-content">
                            Удалить
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="control__table-head">
        <div class="control__head-coll">
            Товар
        </div>
        <div class="control__head-coll">
            Цена
        </div>
        <div class="control__head-coll">
            Дата
        </div>
        <div class="control__head-coll">
            Статус
        </div>
        <div class="control__head-coll">
            Реклама
        </div>
        <div class="control__head-coll">
            Изменить
        </div>
    </div>
    {{>control__table}}
    {{>navigation-cabinet}}
</div>