<div class="control__table">

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn  conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-2.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

    <div class="control__table-row">
        <div class="control__row-coll">
            <div class="control__table-header">
                <label class="control__label">
                    <input type="checkbox" class="control__label-checkbox">
                    <span class="control__label-span"></span>
                </label>
                <div class="control__table-img">
                    <img src="./assets/img/tablet-1.png" alt="">
                </div>
                <a href="#" class="control__table-name">
                    НОВ Витамин А 10000 МО капс. №30, NOW FOODS
                </a>
            </div>
            <div class="control__table-price">
                10.27 грн
            </div>
        </div>
        <div class="control__row-coll-2">
            <div class="control__row-coll-3">
                <div class="control__row-coll-4">
                    <div class="control__row-title">
                        Дата
                    </div>
                    <div class="control__row-data">
                        20.01.2021
                    </div>
                </div>
                <div class="control__row-coll-5">
                    <div class="control__row-title">
                        Статус
                    </div>
                    <div class="control__row-status --active">
                        активные
                    </div>
                </div>
            </div>
            <div class="control__row-coll-6">
                <label class="control__row-box">
                    <input class="control__row-checkbox" type="checkbox">
                    <span class="control__row-span">
                        Продвигать
                    </span>
                </label>
            </div>
        </div>
        <div class="control__row-coll-7">
            <button class="control__row-btn conrtol__change" data-controlTab="#cabinet-2">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8.36639 3.03253L0.262197 11.1367L0.0867636 13.0665C0.0462633 13.512 0.419488 13.8852 0.864991 13.8447L2.79476 13.6693L10.899 5.5651L8.36639 3.03253Z"
                        fill="#9AA9BB" />
                    <path
                        d="M11.4055 5.05859L12.925 3.53903C13.2048 3.25929 13.2048 2.80575 12.925 2.52601L11.4055 1.00647C11.1257 0.726731 10.6722 0.72673 10.3925 1.00647L8.87291 2.52602L11.4055 5.05859Z"
                        fill="#9AA9BB" />
                </svg>
            </button>
        </div>
    </div>

</div>