<script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
</script>

<script type="text/javascript">
    function mapTwo() {
        let contactMap = document.querySelector('.contact__map-container');
        if (contactMap) {
            // Функция ymaps.ready() будет вызвана, когда
            // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
            ymaps.ready(init);
            function init() {
                // Создание карты.
                var myMap = new ymaps.Map("map", {
                    // Координаты центра карты.
                    // Порядок по умолчанию: «широта, долгота».
                    // Чтобы не определять координаты центра карты вручную,
                    // воспользуйтесь инструментом Определение координат.
                    center: [49.95578399999999, 36.345252],
                    // Уровень масштабирования. Допустимые значения:
                    // от 0 (весь мир) до 19.
                    zoom: 16,
                    controls: []
                });
                // Создаём макет содержимого.
                myMap.behaviors.disable('scrollZoom');

                myPlacemark = new ymaps.Placemark(myMap.getCenter(), {

                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: './assets/img/icon-map.svg',
                    // Размеры метки.
                    iconImageSize: [28, 34],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -38]
                }),



                    myMap.geoObjects.add(myPlacemark)

            }
        }
    }
    mapTwo();
</script>