<div class="create">
    <div class="create-title">
        Создать объявление
    </div>
    <div class="create__wrapp">
        <div class="create-subtitle">
            Название товара
        </div>
        <input type="text" class="create-input">
        <div class="create-subtitle">
            Цена
        </div>
        <input type="text" class="create-input --two">
        <div class="create-subtitle">
            Производитель
        </div>
        <input type="text" class="create-input --two">
        <div class="create__wrapp-inner">
            <div class="create__coll">
                <div class="create__coll-title">
                    Форма выпуска
                </div>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Жидкость
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Капли
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Капсулы
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input" checked>
                    <span class="create-label-span">
                        Раствор
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Таблетки
                    </span>
                </label>
            </div>
            <div class="create__coll">
                <div class="create__coll-title">
                    Дозировка
                </div>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        10000 МЕ
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        10000 ME
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input" checked>
                    <span class="create-label-span">
                        1500 мкг
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        250 мг
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        25000 МЕ
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        250 мг
                    </span>
                </label>
            </div>
            <div class="create__coll">
                <div class="create__coll-title">
                    Для кого
                </div>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Для всех
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Для детей
                    </span>
                </label>
                <label class="create-label">
                    <input type="checkbox" class="create-label-input">
                    <span class="create-label-span">
                        Для взрослых
                    </span>
                </label>
            </div>
        </div>
    </div>
    <div class="create-box-btn">

        <button class="changeCabinet-btn">
            Отмена
        </button>

        <button class="btn changeCabinet-btn-save">
            Сохранить
        </button>

    </div>
</div>