<footer class="footer">
    <div class="container">
        <div class="footer-wrapp">
            <div class="footer-wrapp-inner">
                <a class="footer-logo" href="#">
                    Liki<span>tut</span>
                </a>

                <div class="footer-coll">
                    <div class="footer-coll-title">
                        Інформацiя
                    </div>
                    <nav class="footer-nav">
                        <ul class="footer-nav-list">
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    О Компании
                                </a>
                            </li>
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Регламент
                                </a>
                            </li>
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Блог
                                </a>
                            </li>
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Контакти
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-coll-2">
                    <div class="footer-coll-title">
                        Партнерам
                    </div>
                    <nav class="footer-nav">
                        <ul class="footer-nav-list">
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Розмістити аптеку
                                </a>
                            </li>
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Особистий кабінет аптеки
                                </a>
                            </li>
                            <li class="footer-nav-list-inner">
                                <a href="#" class="footer-nav-list-link">
                                    Політика щодо реклами <br> і спонсорства
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="footer-box">
                <img class="footer-box-img" src="./assets/img/footer-img.svg" alt="">
                <img class="footer-box-img-two" src="./assets/img/footer-img-2.svg" alt="">
            </div>
        </div>
    </div>
</footer>