<header class="header header-two">
    <div class="container">
        <div class="header-wrapp">
            <div class="header-col">
                <div>
                    <button class="header-burger">
                        <svg width="24" height="15" viewBox="0 0 24 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M1.25 2.5C0.559644 2.5 0 1.94036 0 1.25C0 0.559644 0.559644 0 1.25 0H14.75C15.4404 0 16 0.559644 16 1.25C16 1.94036 15.4404 2.5 14.75 2.5H1.25Z"
                                fill="#414D55" />
                            <path
                                d="M0 7.5C0 8.19036 0.559644 8.75 1.25 8.75H22.75C23.4404 8.75 24 8.19036 24 7.5C24 6.80964 23.4404 6.25 22.75 6.25H1.25C0.559644 6.25 0 6.80964 0 7.5Z"
                                fill="#414D55" />
                            <path
                                d="M0 13.75C0 14.4404 0.559644 15 1.25 15H14.75C15.4404 15 16 14.4404 16 13.75C16 13.0596 15.4404 12.5 14.75 12.5H1.25C0.559644 12.5 0 13.0596 0 13.75Z"
                                fill="#414D55" />
                        </svg>

                    </button>
                    <a href="#" class="logo">
                        Liki<span>tut</span>
                    </a>
                </div>

                <div class="header-place">
                    <div class="header-place-head">
                        <span class="header-place-img">
                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="header-svg-path" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.00033 0.5C2.77533 0.5 0.166992 3.10833 0.166992 6.33333C0.166992 10.7083 6.00033 15.5 6.00033 15.5C6.00033 15.5 11.8337 10.7083 11.8337 6.33333C11.8337 3.10833 9.22533 0.5 6.00033 0.5ZM6.00033 8.83333C7.38104 8.83333 8.50033 7.71405 8.50033 6.33333C8.50033 4.95262 7.38104 3.83333 6.00033 3.83333C4.61961 3.83333 3.50033 4.95262 3.50033 6.33333C3.50033 7.71405 4.61961 8.83333 6.00033 8.83333Z"
                                    fill="#9AA9BB" />
                            </svg>
                        </span>
                        <span class="header-place-city">
                            Харьків
                        </span>

                    </div>
                    <div class="header-place-body">
                        <div class="header-place-title">
                            Виберіть місто:
                        </div>
                        <button class="header-place-close">
                            <span class="header-place-desctop">
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.99978 11.1785L15.2438 16.4226L16.4223 15.2441L11.1783 10L16.4223 4.75598L15.2438 3.57747L9.99978 8.82151L4.75566 3.57739L3.57715 4.7559L8.82126 10L3.57715 15.2441L4.75566 16.4226L9.99978 11.1785Z"
                                        fill="#192025" />
                                </svg>
                            </span>
                            <svg class="header-place-mob" width="16" height="12" viewBox="0 0 16 12" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16 5L3.83 5L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7L16 7V5Z" fill="white" />
                            </svg>
                        </button>
                        <div class="header-place-search-box">
                            <button class="header-place-search-btn">
                                <svg width="14" height="14" viewBox="0 0 14 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M6.99978 8.17829L12.2438 13.4223L13.4223 12.2438L8.17829 6.99978L13.4223 1.75574L12.2438 0.577226L6.99978 5.82127L1.75566 0.577148L0.577148 1.75566L5.82126 6.99978L0.577148 12.2439L1.75566 13.4224L6.99978 8.17829Z"
                                        fill="#9AA9BB" />
                                </svg>
                            </button>
                            <input id="header-place" type="text" class="header-place-search" value="">
                        </div>
                        <div class="header-place-box">
                            <div class="sity-name">
                                Київ
                            </div>
                            <div class="sity-name">
                                Маріуполь
                            </div>
                            <div class="sity-name">
                                Ужгород

                            </div>
                            <div class="sity-name">
                                Івано-Франківськ
                            </div>
                            <div class="sity-name">
                                Миколаїв

                            </div>
                            <div class="sity-name active">
                                Харків

                            </div>
                            <div class="sity-name">
                                Вінниця
                            </div>
                            <div class="sity-name">
                                Одеса
                            </div>
                            <div class="sity-name">
                                Херсон
                            </div>
                            <div class="sity-name">
                                Дніпро
                            </div>
                            <div class="sity-name">
                                Полтава
                            </div>
                            <div class="sity-name">
                                Хмельницький
                            </div>
                            <div class="sity-name">
                                Житомир
                            </div>
                            <div class="sity-name">
                                Рівне
                            </div>
                            <div class="sity-name">
                                Черкаси
                            </div>
                            <div class="sity-name">
                                Запоріжжя
                            </div>
                            <div class="sity-name">
                                Суми
                            </div>
                            <div class="sity-name">
                                Чернігів
                            </div>
                            <div class="sity-name">
                                Кривий Ріг

                            </div>
                            <div class="sity-name">
                                Тернопіль
                            </div>
                            <div class="sity-name">
                                Львів
                            </div>
                        </div>
                    </div>
                </div>



                <div class="select lang">
                    <div class="select__header">
                        <span class="select__current">
                            Rus
                        </span>
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            Uk
                        </div>
                        <div class="select__item">
                            Rus
                        </div>
                    </div>
                </div>


            </div>
            <div class="header-col">
                <nav class="header-nav">
                    <ul class="header-nav-list">
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Для аптек и рекламодателей
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Про нас
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Контакти
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>