<header class="header">
    <div class="container header-container">
        <div class="header-wrapp">
            <div class="header-col">
                <a href="#" class="logo">
                    Liki<span>tut</span>
                </a>
                <div class="header-place">
                    <div class="header-place-head">
                        <span class="header-place-img">
                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="header-svg-path" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.00033 0.5C2.77533 0.5 0.166992 3.10833 0.166992 6.33333C0.166992 10.7083 6.00033 15.5 6.00033 15.5C6.00033 15.5 11.8337 10.7083 11.8337 6.33333C11.8337 3.10833 9.22533 0.5 6.00033 0.5ZM6.00033 8.83333C7.38104 8.83333 8.50033 7.71405 8.50033 6.33333C8.50033 4.95262 7.38104 3.83333 6.00033 3.83333C4.61961 3.83333 3.50033 4.95262 3.50033 6.33333C3.50033 7.71405 4.61961 8.83333 6.00033 8.83333Z"
                                    fill="#9AA9BB" />
                            </svg>
                        </span>
                        <span class="header-place-city">
                            Харьків
                        </span>

                    </div>
                    <div class="header-place-body">
                        <div class="header-place-title">
                            Виберіть місто:
                        </div>
                        <button class="header-place-close">
                            <span>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.99978 11.1785L15.2438 16.4226L16.4223 15.2441L11.1783 10L16.4223 4.75598L15.2438 3.57747L9.99978 8.82151L4.75566 3.57739L3.57715 4.7559L8.82126 10L3.57715 15.2441L4.75566 16.4226L9.99978 11.1785Z"
                                        fill="#192025" />
                                </svg>
                            </span>
                        </button>
                        <div class="header-place-search-box">
                            <input id="header-place" type="text" class="header-place-search" value="">
                        </div>
                        <div class="header-place-box">
                            <div class="sity-name">
                                Київ
                            </div>
                            <div class="sity-name">
                                Маріуполь
                            </div>
                            <div class="sity-name">
                                Ужгород

                            </div>
                            <div class="sity-name">
                                Івано-Франківськ
                            </div>
                            <div class="sity-name">
                                Миколаїв

                            </div>
                            <div class="sity-name active">
                                Харків

                            </div>
                            <div class="sity-name">
                                Вінниця
                            </div>
                            <div class="sity-name">
                                Одеса
                            </div>
                            <div class="sity-name">
                                Херсон
                            </div>
                            <div class="sity-name">
                                Дніпро
                            </div>
                            <div class="sity-name">
                                Полтава
                            </div>
                            <div class="sity-name">
                                Хмельницький
                            </div>
                            <div class="sity-name">
                                Житомир
                            </div>
                            <div class="sity-name">
                                Рівне
                            </div>
                            <div class="sity-name">
                                Черкаси
                            </div>
                            <div class="sity-name">
                                Запоріжжя
                            </div>
                            <div class="sity-name">
                                Суми
                            </div>
                            <div class="sity-name">
                                Чернігів
                            </div>
                            <div class="sity-name">
                                Кривий Ріг

                            </div>
                            <div class="sity-name">
                                Тернопіль
                            </div>
                            <div class="sity-name">
                                Львів
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#" class="header-link">
                    <span>
                        <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M0 2C0 0.895431 0.895431 0 2 0C3.10457 0 4 0.895431 4 2C4 3.10457 3.10457 4 2 4C0.895431 4 0 3.10457 0 2ZM0 8C0 6.89543 0.895431 6 2 6C3.10457 6 4 6.89543 4 8C4 9.10457 3.10457 10 2 10C0.895431 10 0 9.10457 0 8ZM6 2C6 0.895431 6.89543 0 8 0C9.10457 0 10 0.895431 10 2C10 3.10457 9.10457 4 8 4C6.89543 4 6 3.10457 6 2ZM6 8C6 6.89543 6.89543 6 8 6C9.10457 6 10 6.89543 10 8C10 9.10457 9.10457 10 8 10C6.89543 10 6 9.10457 6 8Z"
                                fill="#2662F0" />
                        </svg>
                    </span>
                    Каталог
                </a>
            </div>
            <div class="header-col">
                <nav class="header-nav">
                    <ul class="header-nav-list">
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Для аптек и рекламодателей
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Про нас
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Контакти
                            </a>
                        </li>
                    </ul>
                </nav>
                <a href="#header-entrance" class="header-btn-entrance popup-content">
                    Вхід
                    <span>
                        <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M11.0003 11.6596C13.5316 11.6596 15.5837 9.65913 15.5837 7.19147C15.5837 4.72382 13.5316 2.72339 11.0003 2.72339C8.46902 2.72339 6.41699 4.72382 6.41699 7.19147C6.41699 9.65913 8.46902 11.6596 11.0003 11.6596Z"
                                fill="#9AA9BB" />
                            <path
                                d="M11.0005 13.8936C6.40797 13.8936 2.66797 16.8961 2.66797 20.5957C2.66797 20.8459 2.86964 21.0425 3.1263 21.0425H18.8746C19.1313 21.0425 19.333 20.8459 19.333 20.5957C19.333 16.8961 15.593 13.8936 11.0005 13.8936Z"
                                fill="#9AA9BB" />
                        </svg>

                    </span>
                </a>
                <button class="header-btn-basket">
                    <span>
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6 16C4.895 16 4.01 16.895 4.01 18C4.01 19.105 4.895 20 6 20C7.105 20 8 19.105 8 18C8 16.895 7.105 16 6 16ZM0 0V2H2L5.595 9.585L4.245 12.035C4.09 12.325 4 12.65 4 13C4 14.105 4.895 15 6 15H18V13H6.425C6.285 13 6.175 12.89 6.175 12.75C6.175 12.705 6.185 12.665 6.205 12.63L7.1 11H14.55C15.3 11 15.955 10.585 16.3 9.97L19.875 3.48C19.955 3.34 20 3.175 20 3C20 2.445 19.55 2 19 2H4.215L3.265 0H0ZM16 16C14.895 16 14.01 16.895 14.01 18C14.01 19.105 14.895 20 16 20C17.105 20 18 19.105 18 18C18 16.895 17.105 16 16 16Z"
                                fill="#4C6FFF" />
                        </svg>
                    </span>
                    <span class="header-basket-summ">
                        3
                    </span>
                </button>
            </div>
        </div>
    </div>
</header>