<header class="header header-two">
    <div class="container">
        <div class="header-wrapp">
            <div class="header-col">
                <a href="#" class="logo">
                    Liki<span>tut</span>
                </a>
                <div class="header-place">
                    <div class="header-place-head">
                        <span class="header-place-img">
                            <svg width="12" height="16" viewBox="0 0 12 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path class="header-svg-path" fill-rule="evenodd" clip-rule="evenodd"
                                    d="M6.00033 0.5C2.77533 0.5 0.166992 3.10833 0.166992 6.33333C0.166992 10.7083 6.00033 15.5 6.00033 15.5C6.00033 15.5 11.8337 10.7083 11.8337 6.33333C11.8337 3.10833 9.22533 0.5 6.00033 0.5ZM6.00033 8.83333C7.38104 8.83333 8.50033 7.71405 8.50033 6.33333C8.50033 4.95262 7.38104 3.83333 6.00033 3.83333C4.61961 3.83333 3.50033 4.95262 3.50033 6.33333C3.50033 7.71405 4.61961 8.83333 6.00033 8.83333Z"
                                    fill="#9AA9BB" />
                            </svg>
                        </span>
                        <span class="header-place-city">
                            Харьків
                        </span>

                    </div>
                    <div class="header-place-body">
                        <div class="header-place-title">
                            Виберіть місто:
                        </div>
                        <button class="header-place-close">
                            <span>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.99978 11.1785L15.2438 16.4226L16.4223 15.2441L11.1783 10L16.4223 4.75598L15.2438 3.57747L9.99978 8.82151L4.75566 3.57739L3.57715 4.7559L8.82126 10L3.57715 15.2441L4.75566 16.4226L9.99978 11.1785Z"
                                        fill="#192025" />
                                </svg>
                            </span>
                        </button>
                        <div class="header-place-search-box">
                            <input id="header-place" type="text" class="header-place-search" value="">
                        </div>
                        <div class="header-place-box">
                            <div class="sity-name">
                                Київ
                            </div>
                            <div class="sity-name">
                                Маріуполь
                            </div>
                            <div class="sity-name">
                                Ужгород

                            </div>
                            <div class="sity-name">
                                Івано-Франківськ
                            </div>
                            <div class="sity-name">
                                Миколаїв

                            </div>
                            <div class="sity-name active">
                                Харків

                            </div>
                            <div class="sity-name">
                                Вінниця
                            </div>
                            <div class="sity-name">
                                Одеса
                            </div>
                            <div class="sity-name">
                                Херсон
                            </div>
                            <div class="sity-name">
                                Дніпро
                            </div>
                            <div class="sity-name">
                                Полтава
                            </div>
                            <div class="sity-name">
                                Хмельницький
                            </div>
                            <div class="sity-name">
                                Житомир
                            </div>
                            <div class="sity-name">
                                Рівне
                            </div>
                            <div class="sity-name">
                                Черкаси
                            </div>
                            <div class="sity-name">
                                Запоріжжя
                            </div>
                            <div class="sity-name">
                                Суми
                            </div>
                            <div class="sity-name">
                                Чернігів
                            </div>
                            <div class="sity-name">
                                Кривий Ріг

                            </div>
                            <div class="sity-name">
                                Тернопіль
                            </div>
                            <div class="sity-name">
                                Львів
                            </div>
                        </div>
                    </div>
                </div>
                <div class="select lang">
                    <div class="select__header">
                        <span class="select__current">
                            Rus
                        </span>
                    </div>
                    <div class="select__body">
                        <div class="select__item">
                            Uk
                        </div>
                        <div class="select__item">
                            Rus
                        </div>
                    </div>
                </div>


            </div>
            <div class="header-col">
                <nav class="header-nav">
                    <ul class="header-nav-list">
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Для аптек и рекламодателей
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Про нас
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Блог
                            </a>
                        </li>
                        <li class="header-nav-list-inner">
                            <a href="#" class="header-nav-link">
                                Контакти
                            </a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
</header>