<main class="main">
    <div class="container">
        <div class="main__wrapp">
            <div class="main-title">
                Всі ліки тут
            </div>
            <div class="main-text">
                Знайдіть необхідний медичний препарат та забронюйте його за два кліки
            </div>
            <div class="main-searc-box">
                <input class="main-search form-input-search" type="text" placeholder="Введіть назву препарату">
                <button class="main-btn">
                    Шукати
                </button>
                <div class="form-search">

                    <div class="form-search-coll">
                        <div class="form__search-title ">
                            Категории
                        </div>
                        <div class="form-search-scroll form-search-category">

                            <a href="#" class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-7.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамин С (аскорбиновая кислота)
                                        </div>
                                        <div class="form__search-text">
                                            456 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-8.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамини групи D
                                        </div>
                                        <div class="form__search-text">
                                            250 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-9.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витаминно-минеральный комплекс
                                        </div>
                                        <div class="form__search-text">
                                            56 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href="#" class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-10.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамин E
                                        </div>
                                        <div class="form__search-text">
                                            56 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                        </div>
                        <div class="form__search-title">
                            Торгові назви
                        </div>
                        <div class="form-search-scroll form-search-trade">

                            <a href='#' class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамин С
                                        </div>
                                        <div class="form__search-text">
                                            456 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href='#' class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамин D3
                                        </div>
                                        <div class="form__search-text">
                                            456 товара
                                        </div>
                                    </div>
                                </div>
                            </a>

                            <a href='#' class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="form__search-info">
                                        <div class="form__search-name">
                                            Витамин D
                                        </div>
                                        <div class="form__search-text">
                                            456 товара
                                        </div>
                                    </div>
                                </div>
                            </a>



                        </div>
                    </div>
                    <div class="form-search-coll">
                        <div class="form__search-title">
                            За назвою товару
                        </div>
                        <div class="form-search-scroll form-search-product">

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-1.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-2.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-3.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-4.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-5.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-6.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>


                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-1.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-2.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-3.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-4.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-5.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                            <div class="form__search-row">
                                <div class="search-row-coll">
                                    <div class="search-row-img">
                                        <img src="./assets/img/medic-6.png" alt="">
                                    </div>
                                    <div class="form__search-info">
                                        <a href="#" class="form__search-name">
                                            Энгистол табл. контейнер №50
                                        </a>
                                        <div class="form__search-text">
                                            Heel (Германия)
                                        </div>
                                    </div>
                                </div>
                                <a href="#" class="form__search-btn">
                                    Замовити
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>