<main class="main">
    <div class="container">
        <div class="main__wrapp">
            <div class="main-title">
                Всі ліки тут
            </div>
            <div class="main-text">
                Знайдіть необхідний медичний препарат та забронюйте його за два кліки
            </div>
            <div class="main-searc-box">
                <input id="myInput" class="main-search" type="search" placeholder="Введіть назву препарату">
                <button class="main-btn">
                    Шукати
                </button>
            </div>
        </div>
    </div>
</main>