<div class="medic">
    <div class="container">
        <div class="breadcrumb">
            <ul class="bread__list">
                <li class="bread__list-inner">
                    <a class="bread__list-link" href="#">
                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M4 8C4 7.63181 4.29848 7.33333 4.66667 7.33333H7.33333C7.70152 7.33333 8 7.63181 8 8V10.6667H10.6667V6.27614L6 1.60948L1.33333 6.27614V10.6667H4V8ZM5.33333 8.66667V11.3333C5.33333 11.7015 5.03486 12 4.66667 12H0.666667C0.298477 12 0 11.7015 0 11.3333V6C0 5.82319 0.0702379 5.65362 0.195262 5.5286L5.5286 0.195262C5.78895 -0.0650874 6.21106 -0.0650874 6.4714 0.195262L11.8047 5.5286C11.9298 5.65362 12 5.82319 12 6V11.3333C12 11.7015 11.7015 12 11.3333 12H7.33333C6.96514 12 6.66667 11.7015 6.66667 11.3333V8.66667H5.33333Z"
                                fill="#04B6B1" />
                        </svg>
                    </a>
                </li>
                <li class="bread__list-inner">
                    <a class="bread__list-link" href="#">
                        Каталог
                    </a>
                </li>
                <li class="bread__list-inner">
                    Витамины и минералы
                </li>
            </ul>
        </div>
        <div class="medic__wrapp">
            <div class="medic-title">
                Витамины и минералы
            </div>
            <div class="medic-filter">
                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check" checked>
                    <span class="medic-btn">
                        Все
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Для беременных
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Для детей
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Для взрослых
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Для нервной системы
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Для кожи, волос, ногтей
                    </span>
                </label>

                <label class="medic-label">
                    <input type="checkbox" class="medi-label-check">
                    <span class="medic-btn">
                        Инъекционные
                    </span>
                </label>

            </div>
        </div>

        <div class="medic-box">
            <div class="medic-col">

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Аевит
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Аквадетрим
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Аскорбиновая кислота
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Аскоцин
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Биовиталь
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                <div class="medic-cart">
                    <div class="medic-cart-title">
                        Вигантол
                    </div>
                    <div class="medic-cart-text">
                        Аевит применяют с лечебной целью при заболеваниях и состояниях, требующих длительного введения
                        больших доз витамина А в сочетании с витамином Е: атеросклеротических изменениях сосудов,
                        нарушении трофики тканей, облитерирующий эндартериит, псориазе, системной красной волчанке,
                        атрофии зрительного нерва, пигментный ретинит, в комплексной терапии сердечно-сосудистых
                        заболеваний (гипертоническая болезнь с признаками перегрузки левого желудочка, стабильная
                        стенокардия напряжения I и II функциональных классов).
                    </div>
                    <div class="medic-cart-data">
                        от
                        <span class="medic-cart-span">86.81</span>
                        до
                        <span class="medic-cart-span">173.16</span>
                        грн
                    </div>
                    <a href="#" class="medic-cart-link">
                        Аевит в аптеках
                    </a>
                </div>

                {{>navigation}}

            </div>
            <div class="medic-col-2">
                <a href="#" class="medic-col-link">
                    <img src="./assets/img/med-1.png" alt="">
                </a>
                <a href="#" class="medic-col-link">
                    <img src="./assets/img/med-1.png" alt="">
                </a>
            </div>
        </div>

    </div>
</div>