<div class="navigation">
    <button class="navigation-btn">
        Еще 32
    </button>
    <ul class="navigation-list">
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link navigation-list-prev">
                <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10.0937 13.5521L4.36975 7.82808L10.0937 2.10408L8.20842 0.21875L0.599084 7.82808L8.20842 15.4374L10.0937 13.5521Z"
                        fill="#9AA9BB" />
                </svg>
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link">
                1
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link">
                2
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link">
                3
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link">
                4
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link navigation-list-dot">
                ...
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link">
                11
            </a>
        </li>
        <li class="navigation-list-inner">
            <a href="#" class="navigation-list-link navigation-list-next">
                <svg width="10" height="16" viewBox="0 0 10 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.101563 13.5521L5.82556 7.82808L0.101563 2.10408L1.9869 0.21875L9.59623 7.82808L1.9869 15.4374L0.101563 13.5521Z"
                        fill="#4C6FFF" />
                </svg>

            </a>
        </li>

    </ul>
</div>