<div class="order">
    <div class="container order-container">
        <div class="order-title">
            Корзина
        </div>
        <div class="order__wrapp">
            <div class="order-coll">

                <div class="order-row">
                    <div class="order__row-header">
                        <div class="order__header-box">
                            <div class="order__header-img">
                                <img src="./assets/img/order-1.png" alt="">
                            </div>
                            <div class="order__header-title">
                                Аптека Хелп (Киев)
                            </div>
                        </div>
                        <a href="#" class="order__header-link">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.41179 12.9197C3.80504 11.4625 0.748047 8.36305 0.748047 5.875C0.748047 2.5 2.99805 0.25 6.37305 0.25C9.74805 0.25 11.998 3.0625 11.998 5.875C11.998 7.96592 8.88912 11.3004 7.29385 12.8738C6.77101 13.3894 5.95574 13.4131 5.41179 12.9197ZM8.24805 5.12493C8.24805 6.16046 7.40858 6.99993 6.37305 6.99993C5.33751 6.99993 4.49805 6.16046 4.49805 5.12493C4.49805 4.08939 5.33751 3.24993 6.37305 3.24993C7.40858 3.24993 8.24805 4.08939 8.24805 5.12493Z"
                                    fill="#649EFF"></path>
                            </svg>
                            <span class="order-row-desc">
                                Показать на карте
                            </span>
                            <span class="order-row-mob">
                                На карте
                            </span>
                        </a>
                    </div>
                    <div class="order__row-adress">
                        <div class="order__adress-adress">
                            ул. Маршала Рыбалко, 40
                        </div>
                        <div class="order__adress-tell">
                            Телефон: <a class="order__tell-link" href="tel:0573921387">(057) 392-13-87</a> , <a
                                href="tel:0504047333" class="order__tell-link"> (050) 404-73-33</a>
                        </div>
                        <div class="order__adress-time">
                            Время работы: ежедневно, с 09:00 до 20:00
                        </div>
                    </div>
                    <div class="order__product">

                        <div class="order__product-row">
                            <div class="order__product-head">
                                <div class="order__product-data">
                                    <div class="order__product-name">
                                        Витамин с+ табл.жев.апельсин. 500 мг №30
                                    </div>
                                    <div class="order__product-firm">
                                        teva
                                    </div>
                                    <div class="order__product-summ">
                                        1 упаковка
                                    </div>
                                </div>
                                <div>
                                    <button class="order__product-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.99943 8.94273L12.1947 13.138L13.1375 12.1952L8.94224 7.99992L13.1375 3.80469L12.1947 2.86188L7.99943 7.05711L3.80414 2.86182L2.86133 3.80463L7.05662 7.99992L2.86133 12.1952L3.80414 13.138L7.99943 8.94273Z"
                                                fill="#9AA9BB" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="order__product-wrapper">
                                <div class="basket-product-coll">
                                    <div class="basket-coll-title">
                                        Упаковка
                                    </div>
                                    <div class="basket-coll-row">
                                        <button class="basket-coll-prev --disabled" data-basket="#num-4">
                                            <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.92099 0.068181V1.97727H0.239169V0.068181H9.92099Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                        <input id="num-4" type="number" class="basket-num" min="0" value="1">
                                        <button class="basket-coll-next " data-basket="#num-4">
                                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.45455 15.1023V0.715908H8.39773V15.1023H6.45455ZM0.227273 8.875V6.94318H14.625V8.875H0.227273Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="order__product-price">
                                    10.27 грн
                                </div>
                            </div>
                        </div>

                        <div class="order__product-row">
                            <div class="order__product-head">
                                <div class="order__product-data">
                                    <div class="order__product-name">
                                        Витамин с+ табл.жев.апельсин. 500 мг №30
                                    </div>
                                    <div class="order__product-firm">
                                        teva
                                    </div>
                                    <div class="order__product-summ">
                                        1 упаковка
                                    </div>
                                </div>
                                <div>
                                    <button class="order__product-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.99943 8.94273L12.1947 13.138L13.1375 12.1952L8.94224 7.99992L13.1375 3.80469L12.1947 2.86188L7.99943 7.05711L3.80414 2.86182L2.86133 3.80463L7.05662 7.99992L2.86133 12.1952L3.80414 13.138L7.99943 8.94273Z"
                                                fill="#9AA9BB" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="order__product-wrapper">
                                <div class="basket-product-coll">
                                    <div class="basket-coll-title">
                                        Упаковка
                                    </div>
                                    <div class="basket-coll-row">
                                        <button class="basket-coll-prev --disabled" data-basket="#num-5">
                                            <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.92099 0.068181V1.97727H0.239169V0.068181H9.92099Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                        <input id="num-5" type="number" class="basket-num" min="0" value="1">
                                        <button class="basket-coll-next " data-basket="#num-5">
                                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.45455 15.1023V0.715908H8.39773V15.1023H6.45455ZM0.227273 8.875V6.94318H14.625V8.875H0.227273Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="order__product-price">
                                    10.27 грн
                                </div>
                            </div>
                        </div>

                        <div class="order__summ">
                            Всього до сплаты
                            <span>
                                3600.00 грн
                            </span>
                        </div>
                        <div class="order__box-btn">
                            <a href="#" class="order-btn">
                                Продовжити подбор в этой аптеке
                            </a>
                            <a href="#orderPopup" class="btn order-btn-two popup-content">
                                Оформить резерв
                            </a>
                        </div>
                    </div>
                </div>


                <div class="order-row">
                    <div class="order__row-header">
                        <div class="order__header-box">
                            <div class="order__header-img">
                                <img src="./assets/img/order-1.png" alt="">
                            </div>
                            <div class="order__header-title">
                                Аптека Хелп (Киев)
                            </div>
                        </div>
                        <a href="#" class="order__header-link">
                            <svg width="12" height="14" viewBox="0 0 12 14" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M5.41179 12.9197C3.80504 11.4625 0.748047 8.36305 0.748047 5.875C0.748047 2.5 2.99805 0.25 6.37305 0.25C9.74805 0.25 11.998 3.0625 11.998 5.875C11.998 7.96592 8.88912 11.3004 7.29385 12.8738C6.77101 13.3894 5.95574 13.4131 5.41179 12.9197ZM8.24805 5.12493C8.24805 6.16046 7.40858 6.99993 6.37305 6.99993C5.33751 6.99993 4.49805 6.16046 4.49805 5.12493C4.49805 4.08939 5.33751 3.24993 6.37305 3.24993C7.40858 3.24993 8.24805 4.08939 8.24805 5.12493Z"
                                    fill="#649EFF"></path>
                            </svg>
                            Показать на карте
                        </a>
                    </div>
                    <div class="order__row-adress">
                        <div class="order__adress-adress">
                            ул. Маршала Рыбалко, 40
                        </div>
                        <div class="order__adress-tell">
                            Телефон: <a class="order__tell-link" href="tel:0573921387">(057) 392-13-87</a> , <a
                                href="tel:0504047333" class="order__tell-link"> (050) 404-73-33</a>
                        </div>
                        <div class="order__adress-time">
                            Время работы: ежедневно, с 09:00 до 20:00
                        </div>
                    </div>
                    <div class="order__product">

                        <div class="order__product-row">
                            <div class="order__product-head">
                                <div class="order__product-data">
                                    <div class="order__product-name">
                                        Витамин с+ табл.жев.апельсин. 500 мг №30
                                    </div>
                                    <div class="order__product-firm">
                                        teva
                                    </div>
                                    <div class="order__product-summ">
                                        1 упаковка
                                    </div>
                                </div>
                                <div>
                                    <button class="order__product-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.99943 8.94273L12.1947 13.138L13.1375 12.1952L8.94224 7.99992L13.1375 3.80469L12.1947 2.86188L7.99943 7.05711L3.80414 2.86182L2.86133 3.80463L7.05662 7.99992L2.86133 12.1952L3.80414 13.138L7.99943 8.94273Z"
                                                fill="#9AA9BB" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="order__product-wrapper">
                                <div class="basket-product-coll">
                                    <div class="basket-coll-title">
                                        Упаковка
                                    </div>
                                    <div class="basket-coll-row">
                                        <button class="basket-coll-prev --disabled" data-basket="#num-6">
                                            <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.92099 0.068181V1.97727H0.239169V0.068181H9.92099Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                        <input id="num-6" type="number" class="basket-num" min="0" value="1">
                                        <button class="basket-coll-next " data-basket="#num-6">
                                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.45455 15.1023V0.715908H8.39773V15.1023H6.45455ZM0.227273 8.875V6.94318H14.625V8.875H0.227273Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="order__product-price">
                                    10.27 грн
                                </div>
                            </div>
                        </div>

                        <div class="order__product-row">
                            <div class="order__product-head">
                                <div class="order__product-data">
                                    <div class="order__product-name">
                                        Витамин с+ табл.жев.апельсин. 500 мг №30
                                    </div>
                                    <div class="order__product-firm">
                                        teva
                                    </div>
                                    <div class="order__product-summ">
                                        1 упаковка
                                    </div>
                                </div>
                                <div>
                                    <button class="order__product-close">
                                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M7.99943 8.94273L12.1947 13.138L13.1375 12.1952L8.94224 7.99992L13.1375 3.80469L12.1947 2.86188L7.99943 7.05711L3.80414 2.86182L2.86133 3.80463L7.05662 7.99992L2.86133 12.1952L3.80414 13.138L7.99943 8.94273Z"
                                                fill="#9AA9BB" />
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="order__product-wrapper">
                                <div class="basket-product-coll">
                                    <div class="basket-coll-title">
                                        Упаковка
                                    </div>
                                    <div class="basket-coll-row">
                                        <button class="basket-coll-prev --disabled" data-basket="#num-7">
                                            <svg width="10" height="2" viewBox="0 0 10 2" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path d="M9.92099 0.068181V1.97727H0.239169V0.068181H9.92099Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                        <input id="num-7" type="number" class="basket-num" min="0" value="1">
                                        <button class="basket-coll-next " data-basket="#num-7">
                                            <svg width="15" height="16" viewBox="0 0 15 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.45455 15.1023V0.715908H8.39773V15.1023H6.45455ZM0.227273 8.875V6.94318H14.625V8.875H0.227273Z"
                                                    fill="white"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="order__product-price">
                                    10.27 грн
                                </div>
                            </div>
                        </div>

                        <div class="order__summ">
                            Всього до сплаты
                            <span>
                                3600.00 грн
                            </span>
                        </div>
                        <div class="order__box-btn">
                            <a href="#" class="order-btn">
                                Продовжити подбор в этой аптеке
                            </a>
                            <a href="#orderPopup" class="btn order-btn-two popup-content">
                                Оформить резерв
                            </a>
                        </div>
                    </div>
                </div>




            </div>
            <div class="order-coll-2">
                <div class="medic-col-2">
                    <a href="#" class="medic-col-link">
                        <img src="./assets/img/med-1.png" alt="">
                    </a>
                    <a href="#" class="medic-col-link">
                        <img src="./assets/img/med-2.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>