<div id="orderPopup" class="orderPopup mfp-hide">
    <button class="popup-close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.00075 8.17853L12.2448 13.4226L13.4233 12.2441L8.17926 7.00002L13.4233 1.75598L12.2448 0.57747L7.00075 5.82151L1.75664 0.577393L0.578125 1.7559L5.82224 7.00002L0.578125 12.2441L1.75664 13.4226L7.00075 8.17853Z"
                fill="#192025"></path>
        </svg>
    </button>
    <div class="orderPopup-title">
        Оформить заказ
    </div>
    <input type="text" class="orderPopup-input" placeholder="Ваше имя">
    <input type="text" class="orderPopup-input phone" placeholder="+380">
    <input type="text" class="orderPopup-input" placeholder="Ваша електронная почта">

    <div class="orderPopup__wrapp">
        <div class="order__row-header">
            <div class="order__header-box">
                <div class="order__header-img">
                    <img src="./assets/img/order-1.png" alt="">
                </div>
                <div class="order__header-title">
                    Аптека Хелп (Киев)
                </div>
            </div>
        </div>
        <div class="order__row-adress">
            <div class="order__adress-adress">
                ул. Маршала Рыбалко, 40
            </div>
            <div class="order__adress-tell">
                Телефон: <a class="order__tell-link" href="tel:0573921387">(057) 392-13-87</a> , <a
                    href="tel:0504047333" class="order__tell-link"> (050) 404-73-33</a>
            </div>
            <div class="order__adress-time">
                Время работы: ежедневно, с 09:00 до 20:00
            </div>
        </div>
        <div class="orderPopup-accordion-btn">
            <div class="orderPopup-accordion-coll">
                Ваш заказ
            </div>
            <div class="orderPopup-accordion-coll orderPopup-accordion-coll-2">
                Скрыть
            </div>
        </div>
        <div class="orderPopup-accordion-body">

            <div class="order__product-row">
                <div class="order__product-head">
                    <div class="order__product-data">
                        <div class="order__product-name">
                            Витамин с+ табл.жев.апельсин. 500 мг №30
                        </div>
                        <div class="order__product-firm">
                            teva
                        </div>
                        <div class="order__product-summ">
                            1 упаковка
                        </div>
                    </div>
                </div>
                <div class="order__product-wrapper">
                    <div class="order__product-price">
                        10.27 грн
                    </div>
                </div>
            </div>

            <div class="order__product-row">
                <div class="order__product-head">
                    <div class="order__product-data">
                        <div class="order__product-name">
                            Витамин с+ табл.жев.апельсин. 500 мг №30
                        </div>
                        <div class="order__product-firm">
                            teva
                        </div>
                        <div class="order__product-summ">
                            1 упаковка
                        </div>
                    </div>
                </div>
                <div class="order__product-wrapper">
                    <div class="order__product-price">
                        10.27 грн
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="orderPopup-box">
        <div class="orderPopup-box-title">
            Внимание
        </div>
        <div class="orderPopup-box-text">
            Оплата заказа только в аптеке.<br>
            После резервирования с вами свяжется сотрудник аптеки.

        </div>
    </div>
    <label class="popup-label">
        <input type="checkbox" class="popup-label-checkbox">
        <span class="popup-label-span">
            Я згоден <a class="popup-label-link" href="#">з умовами використання</a> сервісу і даю згоду на обробку
            своїх персональних даних.
        </span>
    </label>
    <div class="orderPopup-row">
        <div class="orderPopup-row-title">
            Сумма резерва:
        </div>
        <div class="orderPopup-row-summ">
            360.50 грн
        </div>
    </div>
    <a href="#orderPopup-2" class="btn orderPopup-link popup-content-2">
        Подтвердить резерв
    </a>
</div>