<div id="popupDel" class="popupDel mfp-hide">
    <button class="popup-close">
        <span>
            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M7.00075 8.17853L12.2448 13.4226L13.4233 12.2441L8.17926 7.00002L13.4233 1.75598L12.2448 0.57747L7.00075 5.82151L1.75664 0.577393L0.578125 1.7559L5.82224 7.00002L0.578125 12.2441L1.75664 13.4226L7.00075 8.17853Z"
                    fill="#192025"></path>
            </svg>
        </span>
    </button>
    <div class="popupDel-title">
        Вы хотите удалить <span class="popupDel-span">0 товаров</span>?
    </div>
    <div class="popupDel-box-btn">
        <button class="popupDel-btn">
            Отмена
        </button>
        <button class="btn popupDel-btn-dell">
            Удалить
        </button>
    </div>
</div>