<div class="recom">
    <div class="container">
        <div class="block-title">
            Рекомендовано
        </div>
        <div class="recom-wrapp">

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-1.png" alt="">

                        <div class="recom-name">
                            Лигафарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --E1E8FF">
                        Рекомендовано
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-2.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека Maxi-Farm
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div><button class="recom-btn-visible">
                                    Eще
                                </button></div>
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>

                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --F1F5F8">
                        promo
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-3.png" alt="">

                        <div class="recom-name">
                            Аптека Альго-Фарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-4.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека "AlfaMed.in.ua"
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-5.png" alt="">

                        <div class="recom-name">
                            Лигафарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --E1E8FF">
                        Рекомендовано
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-6.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека Maxi-Farm
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div><button class="recom-btn-visible">
                                    Eще
                                </button></div>
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>

                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --F1F5F8">
                        promo
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-7.png" alt="">

                        <div class="recom-name">
                            Аптека Альго-Фарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --BEBE">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-8.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека "AlfaMed.in.ua"
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --F1F5F8">
                        promo
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-9.png" alt="">

                        <div class="recom-name">
                            Лигафарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --BEBE">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-8.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека Maxi-Farm
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status --F1F5F8">
                        promo
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-7.png" alt="">

                        <div class="recom-name">
                            Аптека Альго-Фарм
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recom-box">
                <div class="recom-box-wrapp">
                    <div class="recom-status">
                        top
                    </div>
                    <a href="#" class="recom-box-head">
                        <img class="recom-head-img" src="./assets/img/res-4.png" alt="">

                        <div class="recom-name">
                            Интернет-аптека "AlfaMed.in.ua"
                        </div>
                    </a>
                    <div class="recom-box-body">
                        <div class="recom-adress">
                            <div class="recom-body-title">
                                Адрес
                            </div>
                            <div class="recom-body-text">
                                г.Киев ул. Якуба Колоса 4
                            </div>
                        </div>
                        <div class="recom-tell">
                            <div class="recom-body-title">
                                Телефоны
                            </div>
                            <a href="tel:380502634604" class="recom-body-text">
                                +38 (050) 263-46-04
                            </a>
                        </div>
                        <div class="recom-time">
                            <div class="recom-body-title">
                                Время работы
                            </div>
                            <div class="recom-body-text">
                                8.00-22.00, Без выходных
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="recom-btn-mob">
            Показать еще
        </button>
    </div>
</div>