<div class="regist">
    <div class="container">
        <div class="regist__wrapp">
            <div class="regist-title">
                Регистрация аптеки
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Название аптеки<span class="regist__subtitle-span">*</span>
                </div>
                <input class="regist-input" type="text" class="regist-input">
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Адрес аптеки<span class="regist__subtitle-span">*</span>
                </div>
                <input class="regist-input" type="text" class="regist-input">
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Контактное лицо<span class="regist__subtitle-span">*</span>
                </div>
                <input class="regist-input" type="text" class="regist-input">
            </div>
            <div class="regist-row regist-row-tell">
                <div class="regist-subtitle">
                    Телефон<span class="regist__subtitle-span">*</span>
                </div>
                <input class="regist-input phone" type="text" class="regist-input">
                <div class="regist-add-row">

                </div>
                <button class="regist-add-btn">
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9 3.75V14.25" stroke="#FF671F" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M3.75 9H14.25" stroke="#FF671F" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    Добавить телефон
                </button>
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Время работы<span class="regist__subtitle-span">*</span>
                </div>
                <input class="regist-input" type="text" class="regist-input">
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Доставка лекарств
                </div>
                <input class="regist-input" type="text" class="regist-input">
            </div>
            <div class="regist-row">
                <div class="regist-subtitle">
                    Сайт аптеки
                </div>
                <input class="regist-input" type="text" class="regist-input" placeholder="Введите Url">
            </div>
            <label class="popup-label regist-label">
                <input type="checkbox" class="popup-label-checkbox">
                <span class="popup-label-span">
                    Я згоден <a class="popup-label-link" href="#">з умовами використання</a> сервісу і даю згоду на
                    обробку
                    своїх персональних даних.
                </span>
            </label>
            <label class="popup-label regist-label-2">
                <input type="checkbox" class="popup-label-checkbox">
                <span class="popup-label-span">
                    Cогласия с Пользовательским соглашением
                </span>
            </label>
            <button class="btn regist-btn">
                Завершить регистрацию
            </button>
        </div>
    </div>
</div>