<div id="resultMap" class="resultMap mfp-hide">
    <button class="resultMap-close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.00075 8.17829L12.2448 13.4223L13.4233 12.2438L8.17926 6.99978L13.4233 1.75574L12.2448 0.577226L7.00075 5.82127L1.75664 0.577148L0.578125 1.75566L5.82224 6.99978L0.578125 12.2439L1.75664 13.4224L7.00075 8.17829Z"
                fill="#192025" />
        </svg>
    </button>
    <div class="resultMap__wrapp">
        <div class="resultMap-head-mob">
            <button class="resultMap-inner-close-mob">
                <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16 5L3.83 5L7.41 1.41L6 0L0 6L6 12L7.41 10.59L3.83 7L16 7V5Z" fill="white" />
                </svg>
                Назад к списку аптек
            </button>
            <div class="resultMap-mob-content">
                Ваш Адрес
                <a href="#resultPopup" class="result__head-link popup-content">
                    Змінити
                </a>
            </div>
            <div class="result__header-title resultMap-mob">
                Харків, <span class="result__header-span"> вул. Владислава Зубенка (Тимурівців) 11б </span>
            </div>
        </div>

        <div class="resultMap__footer">
            <div class="resultMap-row" data-price="19 - 161грн">
                <div class="resultMap__row-head">
                    <div class="resultMap__head-row">
                        <div class="resultMap__head-title">
                            <div class="resultMap__head-img">
                                <img src="./assets/img/resutl-img-1.png" alt="">
                            </div>
                            Аптека Хелп (Киев)
                        </div>

                    </div>
                    <div class="resultMap__head-place">
                        ул. Маршала Рыбалко, 40
                    </div>
                    <div class="resultMap__head-time">
                        до 20:00
                    </div>
                </div>
                <div class="result-box-row">
                    <div class="result-box-name">
                        Витамин с+ табл.жев.апельсин. 500 мг №30...
                    </div>
                    <div class="resutl-row-coll">
                        <div class="result-box-price">
                            10.27 грн
                        </div>
                        <label class="result-box-label">
                            <input type="checkbox" class="result-box-checkbox">
                            <span class="result-box-btn">
                                Забронировать
                            </span>
                        </label>
                    </div>
                </div>
                <div class="result-box-row">
                    <div class="result-box-name">
                        Витамин с+ табл.жев.апельсин. 500 мг №30...
                    </div>
                    <div class="resutl-row-coll">
                        <div class="result-box-price">
                            10.27 грн
                        </div>
                        <label class="result-box-label">
                            <input type="checkbox" class="result-box-checkbox">
                            <span class="result-box-btn">
                                Забронировать
                            </span>
                        </label>
                    </div>
                </div>
                <button class="resultMap-footer-btn">
                    еще 3 позиции
                    <svg width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.375 1L5.90833 5.46625C5.87935 5.49528 5.84492 5.5183 5.80703 5.53402C5.76914 5.54973 5.72852 5.55781 5.6875 5.55781C5.64648 5.55781 5.60586 5.54973 5.56797 5.53402C5.53008 5.5183 5.49565 5.49528 5.46667 5.46625L1 1"
                            stroke="#4C6FFF" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
        <button class="resultMap-footer-add">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20 11L7.83 11L11.41 7.41L10 6L4 12L10 18L11.41 16.59L7.83 13L20 13V11Z" fill="#414D55" />
            </svg>

            Вернуться назад
        </button>
        <div class="resultMap-left">
            <div class="resultMap-head">
                <div class="resultMap-head-title">
                    «Витамин А»
                </div>
                <div class="result__head">
                    <div class="result__header-title">
                        Харків, <span class="result__header-span"> вул. Владислава Зубенка (Тимурівців) 11б </span>
                        <a href="#resultPopup" class="result__head-link popup-content">
                            Змінити
                        </a>
                    </div>
                    <div class="resultMap-box">
                        <div class="resultMap-box-inner">
                            Радіус: 500 м
                            <button class="resultMap-inner-close">
                                <svg width="12" height="12" viewBox="0 0 12 12" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M5.99943 6.94273L10.1947 11.138L11.1375 10.1952L6.94224 5.99992L11.1375 1.80469L10.1947 0.861878L5.99943 5.05711L1.80414 0.861816L0.861328 1.80463L5.05662 5.99992L0.861328 10.1952L1.80414 11.138L5.99943 6.94273Z"
                                        fill="white" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="resultMap-subtitle">
                        Сортировать
                    </div>
                    <div class="result__header-box">
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox" checked>
                            <span class="result__header-btn">
                                По цене
                            </span>
                        </label>
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox">
                            <span class="result__header-btn">
                                По растоянию
                            </span>
                        </label>
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox">
                            <span class="result__header-btn">
                                Рекомендованные
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="resultMap-body">

                <div class="resultMap-row" data-price="19 - 161грн">
                    <div class="resultMap__row-head">
                        <div class="resultMap__head-row">
                            <div class="resultMap__head-title">
                                <div class="resultMap__head-img">
                                    <img src="./assets/img/resutl-img-1.png" alt="">
                                </div>
                                Аптека Хелп (Киев)
                            </div>
                            <div class="resultMap__head-coll">
                                <div class="resultMap__head-available">
                                    доступно 3 позиций
                                </div>
                                <div class="resultMap__head-price">
                                    19 - 161 грн
                                </div>
                            </div>
                        </div>
                        <div class="resultMap__head-place">
                            ул. Маршала Рыбалко, 40
                        </div>
                        <div class="resultMap__head-time">
                            до 20:00
                        </div>
                    </div>
                    <div class="resultMap__row-body">
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="resultMap-row" data-price="161 грн">
                    <div class="resultMap__row-head">
                        <div class="resultMap__head-row">
                            <div class="resultMap__head-title">
                                <div class="resultMap__head-img">
                                    <img src="./assets/img/resutl-img-2.png" alt="">
                                </div>
                                Аптека Хелп (Киев)
                            </div>
                            <div class="resultMap__head-coll">
                                <div class="resultMap__head-available">
                                    доступно 3 позиций
                                </div>
                                <div class="resultMap__head-price">
                                    19 - 161 грн
                                </div>
                            </div>
                        </div>
                        <div class="resultMap__head-place">
                            ул. Маршала Рыбалко, 40
                        </div>
                        <div class="resultMap__head-time">
                            до 20:00
                        </div>
                    </div>
                    <div class="resultMap__row-body">
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="resultMap-row" data-price="19 - 201 грн">
                    <div class="resultMap__row-head">
                        <div class="resultMap__head-row">
                            <div class="resultMap__head-title">
                                <div class="resultMap__head-img">
                                    <img src="./assets/img/resutl-img-3.png" alt="">
                                </div>
                                Аптека Хелп (Киев)
                            </div>
                            <div class="resultMap__head-coll">
                                <div class="resultMap__head-available">
                                    доступно 3 позиций
                                </div>
                                <div class="resultMap__head-price">
                                    19 - 161 грн
                                </div>
                            </div>
                        </div>
                        <div class="resultMap__head-place">
                            ул. Маршала Рыбалко, 40
                        </div>
                        <div class="resultMap__head-time">
                            до 20:00
                        </div>
                    </div>
                    <div class="resultMap__row-body">
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>
                        <div class="result-box-row">
                            <div class="result-box-name">
                                Витамин с+ табл.жев.апельсин. 500 мг №30...
                            </div>
                            <div class="resutl-row-coll">
                                <div class="result-box-price">
                                    10.27 грн
                                </div>
                                <label class="result-box-label">
                                    <input type="checkbox" class="result-box-checkbox">
                                    <span class="result-box-btn">
                                        Забронировать
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>








            </div>

        </div>
        <div class="resultMap-container">
            <div id="map" class="resultPopup-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
</div>