<div class="resultPopupMap">
    <button class="resultPopupMap-close">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M7.00075 8.17829L12.2448 13.4223L13.4233 12.2438L8.17926 6.99978L13.4233 1.75574L12.2448 0.577226L7.00075 5.82127L1.75664 0.577148L0.578125 1.75566L5.82224 6.99978L0.578125 12.2439L1.75664 13.4224L7.00075 8.17829Z"
                fill="#192025" />
        </svg>
    </button>
    <div class="resultPopupMap__wrapp">
        <div class="resultPopupMap-left">
            <div class="resultPopupMap-head">
                <div class="result__head">
                    <div class="result__header-title">
                        Харків, <span class="result__header-span"> вул. Владислава Зубенка (Тимурівців) 11б </span>
                        <a href="#resultPopup" class="result__head-link popup-content">
                            Змінити
                        </a>
                    </div>
                    <div class="resultPopupMap-box">

                    </div>
                    <div class="resultPopupMap-subtitle">
                        Сортировать
                    </div>
                    <div class="result__header-box">
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox" checked>
                            <span class="result__header-btn">
                                По цене
                            </span>
                        </label>
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox">
                            <span class="result__header-btn">
                                По растоянию
                            </span>
                        </label>
                        <label class="resul__header-label">
                            <input type="checkbox" class="result__header-checkbox">
                            <span class="result__header-btn">
                                Рекомендованные
                            </span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="resultPopupMap-body">
                <div class="resultPopupMap-row" data-pay="19 - 161 грн">
                    12342
                </div>
                <div class="resultPopupMap-row" data-pay="161грн">
                    223
                </div>
                <div class="resultPopupMap-row" data-pay="19 - 201 грн">
                    423432
                </div>
            </div>


        </div>
        <div class="resultPopupMap-container">
            <div id="map" class="resultPopup-map" style="width: 100%; height: 100%"></div>
        </div>
    </div>
</div>