<div class="service">
    <div class="container">
        <div class="block-title">
            Про сервіс
        </div>
        <div class="service__wrapp">
            <div class="service-box">
                <div class="service-box-title">
                    Найбільший вибір<br> препаратів
                </div>

                <a href="#" class="service-box-link">
                    В каталог
                </a>
            </div>

            <div class="service-box-2">
                <div class="service-box-title --white">Зручний пошук та<br> порівняння цін в аптеках</div>

            </div>

            <div class="service-box-3">
                <div class="service-box-title">
                    Забронюйте та<br> Забирайте у зручний час
                </div>
            </div>
        </div>
        <div class="service-box-4">
            <div class="service-box-logo">
                Liki<span>tut</span>
            </div>
            <div class="service-box-title">
                Бажаєте розмістити препарати аптеки та стати парнером?
            </div>
            <div class="service-box-text">
                Заповніть заявку та почніть продавати через Likitut.com вже сьогодні
            </div>
            <a href="#" class="service-box-btn">
                Зарєструвати аптеку
            </a>
        </div>
    </div>
</div>