<div class="slaid">
    <div class="container">
        <div class="slaid-slaider">

            <div>
                <a href="#" class="slaid-box">
                    <div class="salid__box-col">
                        <img src="./assets/img/slaid-1.png" alt="">
                        <div class="slaid-text">
                            Твоя допомога при застуді
                        </div>
                    </div>
                    <div class="said__box-col-2">
                        <img src="./assets/img/slaid-2.png" alt="">
                    </div>
                    <div class="said__box-col-3">
                        <img src="./assets/img/slaid-3.png" alt="">
                    </div>
                </a>
            </div>

            <div>
                <a href="#" class="slaid-box">
                    <div class="salid__box-col">
                        <img src="./assets/img/slaid-1.png" alt="">
                        <div class="slaid-text">
                            Твоя допомога при застуді
                        </div>
                    </div>
                    <div class="said__box-col-2">
                        <img src="./assets/img/slaid-2.png" alt="">
                    </div>
                    <div class="said__box-col-3">
                        <img src="./assets/img/slaid-3.png" alt="">
                    </div>
                </a>
            </div>

            <div>
                <a href="#" class="slaid-box">
                    <div class="salid__box-col">
                        <img src="./assets/img/slaid-1.png" alt="">
                        <div class="slaid-text">
                            Твоя допомога при застуді
                        </div>
                    </div>
                    <div class="said__box-col-2">
                        <img src="./assets/img/slaid-2.png" alt="">
                    </div>
                    <div class="said__box-col-3">
                        <img src="./assets/img/slaid-3.png" alt="">
                    </div>
                </a>
            </div>


        </div>
    </div>


</div>