@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";
@import "../sass/vendor/jquery.mCustomScrollbar.scss";
@import "../sass/vendor/magnific-popup.scss";
@import "../sass/vendor/slick.scss";

/* Default style */
html {
    font-size: 14px;
}
body {
    background: #f7f9fb;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 1rem;
    line-height: 1.7;
    font-weight: normal;
}

input:focus,
input:active,
textarea:focus,
textarea:active {
    outline: 1px solid #4b5d74;
}
input {
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    outline: none;
}
/* убираем тени safari */
/* убираем тени safari */
input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="password"] {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    color: #192025;
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */

    /* add spacing to better separate each image */
    letter-spacing: 3px;
    &::placeholder {
        font-family: "Inter";
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.57;
        color: rgba(65, 77, 85, 0.6);

        letter-spacing: 0;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}
.background-fon {
    width: 100%;
    min-height: 100vh;
    background: rgba(17, 17, 17, 0.25);
    transition: 0.8s all ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -3;
    opacity: 0;
}

.background-fon.active {
    z-index: 3;
    opacity: 1;
}

.stop {
    overflow: hidden;
}

.block-title {
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #24282c;
    margin-bottom: 24px;
}

.btn {
    background: #ff671f;
    border-radius: 8px;
    transition: 0.4s all ease-in-out;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        background: #fe6116;
    }
}

/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";

/* container */
@media (min-width: 1400px) {
    .container {
        max-width: 1270px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container.header-container {
        max-width: 1470px;
        padding-left: 115px;
    }
    .container.order-container {
        max-width: 1150px;
        padding-left: 43px;
    }
}
/* blocks */
@import "../sass/blocks/header.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/main.scss";
@import "../sass/blocks/autocomplete.scss";
@import "../sass/blocks/slaid.scss";
@import "../sass/blocks/slaider-option.scss";
@import "../sass/blocks/recom.scss";
@import "../sass/blocks/service.scss";
@import "../sass/blocks/popup.scss";
@import "../sass/blocks/basket.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/search.scss";
@import "../sass/blocks/catalog.scss";
@import "../sass/blocks/select.scss";
@import "../sass/blocks/breadcrumb.scss";
@import "../sass/blocks/medicines.scss";
@import "../sass/blocks/navigation.scss";
@import "../sass/blocks/contacts.scss";
@import "../sass/blocks/map.scss";
@import "../sass/blocks/result.scss";
@import "../sass/blocks/result-popup.scss";
@import "../sass/blocks/result-map.scss";
@import "../sass/blocks/resultMap.scss";
@import "../sass/blocks/form-search.scss";
@import "../sass/blocks/recom-two.scss";
@import "../sass/blocks/order.scss";
@import "../sass/blocks/order-popup.scss";
@import "../sass/blocks/info.scss";
@import "../sass/blocks/company.scss";
@import "../sass/blocks/infoContact.scss";
@import "../sass/blocks/regist.scss";
@import "../sass/blocks/completion.scss";
@import "../sass/blocks/blog.scss";
@import "../sass/blocks/article.scss";
@import "../sass/blocks/cabinet.scss";
@import "../sass/blocks/cabinetInfo.scss";
@import "../sass/blocks/editInfo.scss";
@import "../sass/blocks/popupPwd.scss";
@import "../sass/blocks/control.scss";
@import "../sass/blocks/control__table.scss";
@import "../sass/blocks/popupDel.scss";
@import "../sass/blocks/changeCabinet.scss";
@import "../sass/blocks/create.scss";
