@import "../sass/vendor/font.scss";
@import "../sass/vendor/reset.scss";

/* Default style */
html {
    font-size: 14px;
}
body {
    background: #f7f9fb;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Inter";
    font-size: 1rem;
    line-height: 1.7;
    font-weight: normal;
}

.--transition {
    transition: 0.8s all ease-in-out;
}
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* bootstrap */
@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/containers";

/* container */
@media (min-width: 1400px) {
    .container {
        max-width: 1270px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .container.header-container {
        max-width: 1470px;
        padding-left: 115px;
    }
}
/* blocks */
@import "../sass/blocks/header.scss";
@import "../sass/blocks/footer.scss";
@import "../sass/blocks/main.scss";
